/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*@import "modules/adaptive-menu";*/
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(../fonts/OpenSans-ExtraBold.ttf); }
@font-face {
  font-family: 'Geometria';
  src: url(../fonts/Geometria.woff); }
* {
  box-sizing: border-box;
  outline: none; }

HTML, body {
  margin: 0; }

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: "OpenSans-ExtraBold"; }

h2, .h2 {
  font-size: 28px;
  color: #212121;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 28px; }

h2 {
  text-transform: uppercase; }

p {
  font-size: 16px;
  font-family: "OpenSans";
  color: #8b8b8b; }

/*a{
    color: #000;
    text-decoration: none;
    &:hover{
        color: #000;
    }
}*/
img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px; }

input, textarea {
  font: 16px "OpenSans";
  color: #000;
  border: 1px solid #d5d5d5;
  padding: 5px 15px;
  width: 100%; }

input {
  height: 44px; }

textarea {
  height: 180px; }

::placeholder {
  color: #d5d5d5; }

label {
  font: 16px Arial;
  color: #000;
  cursor: pointer; }

.input-field label {
  width: 100%;
  padding: 10px 15px;
  display: block; }

.bg-grey {
  background-color: #efefef; }

.bg-white {
  background-color: #fff; }

.flex {
  display: flex; }
  .flex-between {
    display: flex;
    justify-content: space-between; }
    .flex-between-center {
      display: flex;
      justify-content: space-between;
      align-items: center; }

.sec-padding {
  padding: 50px 0 70px 0; }

.grey-text {
  color: #8b8b8b; }

.show {
  display: block !important; }

.show-flex {
  /*display: flex !important;*/
  opacity: 1 !important;
  transition: .5s !important; }

.hide {
  display: none !important; }

@media (min-width: 326px) and (max-width: 480px) {
  h2, .h2 {
    font-size: 22px; }

  .sec-padding {
    padding: 50px 0; } }
@media (max-width: 325px) {
  h2, .h2 {
    font-size: 20px; }

  .sec-padding {
    padding: 40px 0; } }
.btn {
  /*&-cart{
    @include btn(170px, 44px, 0, black, white, Arial, 16px, 1px, 5px);
    &:hover{
      // [bg-color] [text-color] [border-color] [border-radius]
      @include btn-h(#fff, #000, #000, 0);
    }
  }*/ }
  .btn-subscribe, .btn-search, .btn-blue {
    display: block;
    width: 170px;
    height: 54px;
    background-color: #347df1;
    color: white;
    padding: 15px 15px;
    margin: 0;
    font-size: 16px;
    font-family: OpenSans;
    text-align: center;
    border: 1px solid #347df1;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 15px; }
    .btn-subscribe:hover, .btn-search:hover, .btn-blue:hover {
      text-decoration: none; }
    .btn-subscribe:hover, .btn-search:hover, .btn-blue:hover {
      /*@include btn-h(#fff, #000, #000, 0);*/ }
  .btn-category {
    display: block;
    width: auto;
    height: 34px;
    background-color: transparent;
    color: #8b8b8b;
    padding: 5px 15px;
    margin: 0;
    font-size: 16px;
    font-family: OpenSans;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 36px;
    cursor: pointer;
    border: 1px solid #8b8b8b;
    margin-right: 15px;
    margin-bottom: 15px; }
    .btn-category:hover {
      text-decoration: none; }
    .btn-category.active {
      color: #fff;
      border: 1px solid #347df1;
      background-color: #347df1; }
  .btn-add-to-cart {
    display: block;
    width: 137px;
    height: 42px;
    background-color: #fff;
    color: #1592e6;
    padding: 8px 15px;
    margin: 0;
    font-size: 16px;
    font-family: "OpenSans-Bold";
    text-align: center;
    border: 2px solid #fff;
    border-radius: 24px;
    cursor: pointer;
    border-color: #fff;
    padding: 7px 15px;
    margin-bottom: 15px; }
    .btn-add-to-cart:hover {
      text-decoration: none; }
    .btn-add-to-cart:hover {
      background-color: transparent;
      color: #fff;
      border-color: #fff;
      border-radius: 24px; }
    .btn-add-to-cart .fas {
      margin-right: 11px; }
  .btn-look {
    display: block;
    width: 137px;
    height: 42px;
    background-color: transparent;
    color: #fff;
    padding: 8px 15px;
    margin: 0;
    font-size: 16px;
    font-family: "OpenSans-Bold";
    text-align: center;
    border: 2px solid transparent;
    border-radius: 24px;
    cursor: pointer;
    border-color: #fff;
    padding: 7px 15px; }
    .btn-look:hover {
      text-decoration: none; }
    .btn-look:hover {
      background-color: transparent;
      color: #fff;
      border-color: #fff;
      border-radius: 24px; }
  .btn-toggle-menu {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #347df1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; }

@media (max-width: 480px) {
  .btn-category {
    margin-bottom: 10px;
    margin-right: 2%;
    width: 49%; }

  .btn-category:nth-child(2n) {
    margin-right: 0; } }
@media (max-width: 400px) {
  .btn-add-to-cart {
    width: 100%;
    margin-bottom: 7px;
    font-size: 14px; }
  .btn-look {
    width: 100%;
    font-size: 14px; } }
@media (max-width: 375px) {
  .btn-toggle-menu {
    width: 40px;
    height: 40px; } }
header {
  padding-top: 18px;
  padding-bottom: 18px; }
  header .container {
    position: relative; }

.header__col-side {
  width: 290px;
  padding-left: 15px;
  padding-right: 15px; }

.header__col-center {
  width: calc(100% - 580px);
  padding-left: 15px;
  padding-right: 15px; }

.header-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 8px 0; }
  .header-menu .form-control {
    width: 260px;
    height: 56px;
    padding-left: 53px;
    padding-right: 55.5px;
    font-size: 18px;
    font-family: "OpenSans-Bold";
    color: #434343;
    position: relative;
    z-index: 9;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer; }
    .header-menu .form-control:focus {
      box-shadow: none;
      border-color: #ced4da; }

.main-menu {
  width: calc(100% - 260px - 128px - 30px);
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 64px; }
  .main-menu li {
    margin-left: 39px; }
    .main-menu li a {
      color: #5a5a5a;
      text-decoration: none; }
      .main-menu li a:hover {
        color: #007bff; }

.site-lang {
  width: 128px;
  height: 56px;
  border-radius: 6px;
  border: solid 1px #d9d9d9;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-right: 30px; }
  .site-lang li {
    font-family: "OpenSans-Bold";
    color: #aaaaaa;
    line-height: 3.3;
    width: calc(100% /2);
    text-align: center; }
    .site-lang li.active {
      color: #347df1; }

.header__select-group {
  position: relative; }
  .header__select-group .select-left-i, .header__select-group .select-right-i {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__select-group .select-left-i {
    left: 0;
    width: 53px;
    color: #347df1; }
    .header__select-group .select-left-i i {
      transform: scale(-1, 1); }
    .header__select-group .select-left-i img {
      width: 17px;
      height: 17px; }
  .header__select-group .select-right-i {
    right: 0;
    width: 55.5px;
    color: #b1b1b1;
    border-left: solid 1px #d9d9d9; }

.header-logo {
  height: 72px;
  margin-bottom: 13px; }
  .header-logo img {
    padding: 5px;
    object-fit: contain; }

.header-singin {
  padding: 8px 0;
  margin-bottom: 13px; }
  .header-singin .btn-blue {
    width: 100%;
    font-size: 14px; }

.header-dropdown-catalog .btn-blue {
  position: relative;
  z-index: 9999;
  width: 100%;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9%; }
  .header-dropdown-catalog .btn-blue i {
    margin-right: 4px; }

.header-search {
  width: 100%;
  margin-top: 21px; }
  .header-search form input, .header-search form .btn-search {
    height: 54px; }
  .header-search form .btn-search {
    border-radius: 4px 0 0 4px; }

.header__icons-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 8px; }
  .header__icons-wrapper .bookmarks, .header__icons-wrapper .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; }
    .header__icons-wrapper .bookmarks .img-icon, .header__icons-wrapper .cart .img-icon {
      position: relative;
      height: 25.3px; }
      .header__icons-wrapper .bookmarks .img-icon img, .header__icons-wrapper .cart .img-icon img {
        width: auto; }
    .header__icons-wrapper .bookmarks .count, .header__icons-wrapper .cart .count {
      background-color: #347df1;
      color: #fff;
      font-size: 12px;
      font-family: "OpenSans";
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: solid 2px #ffffff;
      text-align: center;
      padding-top: 2px;
      position: absolute;
      top: -9px;
      right: -16px; }
    .header__icons-wrapper .bookmarks .text, .header__icons-wrapper .cart .text {
      color: #707070;
      font-size: 15px;
      font-family: "OpenSans-Bold"; }

#modal-menu-catalog {
  display: none;
  position: absolute;
  top: 130px;
  z-index: 999;
  width: 100%;
  margin-left: -15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px; }
  #modal-menu-catalog .menu-catalog {
    width: 260px;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 0 0 8px 8px;
    margin: 0;
    padding-left: 0;
    padding-top: 12px; }
    #modal-menu-catalog .menu-catalog li {
      height: 50px;
      padding: 0 27px; }
      #modal-menu-catalog .menu-catalog li:hover {
        background-color: #f2f8ff; }
        #modal-menu-catalog .menu-catalog li:hover a {
          color: #347df1;
          text-decoration: none; }
    #modal-menu-catalog .menu-catalog a {
      color: #5b5b5b;
      font-family: "OpenSans";
      font-size: 16px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    #modal-menu-catalog .menu-catalog .count {
      width: 24px;
      height: 24px;
      background-color: #e6155c;
      font-size: 12px;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 2;
      font-family: "OpenSans"; }
  #modal-menu-catalog .menu-catalog__subcategory {
    padding: 20px 0 0 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    width: calc(100% - 270px);
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap; }
    #modal-menu-catalog .menu-catalog__subcategory .item {
      height: 166px;
      width: calc(100% / 7 - 20px);
      border-radius: 8px;
      border: solid 1px #fff;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      margin-right: 20px;
      cursor: pointer;
      padding: 10px; }
      #modal-menu-catalog .menu-catalog__subcategory .item img {
        width: 44px;
        height: 71px;
        border-radius: 3px; }
      #modal-menu-catalog .menu-catalog__subcategory .item p {
        font-size: 14px;
        font-family: "OpenSans-Bold";
        text-align: center;
        margin-top: 9px;
        margin-bottom: 0; }
      #modal-menu-catalog .menu-catalog__subcategory .item:hover {
        background-color: #f6faff;
        color: #347df1; }
      #modal-menu-catalog .menu-catalog__subcategory .item.stock {
        border-color: #e6155c;
        color: #e6155c; }

/*Header mobile*/
#header-mobile {
  display: none; }
  #header-mobile .container {
    z-index: 3;
    position: relative;
    background-color: #fff; }
  #header-mobile .logo {
    height: 48px; }
    #header-mobile .logo img {
      object-fit: contain;
      max-width: 170px;
      padding-left: 8px;
      padding-top: 3px;
      padding-bottom: 3px; }
  #header-mobile .header__icons-wrapper {
    height: 100%;
    width: 140px;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-right: 5px; }
  #header-mobile .header__icons-wrapper .bookmarks .img-icon, #header-mobile .header__icons-wrapper .cart .img-icon {
    height: 22px; }
  #header-mobile .header__icons-wrapper > * {
    margin: -4px 0 0 0; }
  #header-mobile .btn-toggle-menu .burger-icon, #header-mobile .btn-toggle-menu .close-icon {
    width: 18px;
    height: 18px; }
  #header-mobile .btn-toggle-menu .burger-icon {
    background: url(../img/menu-button.svg) no-repeat; }
  #header-mobile .btn-toggle-menu .close-icon {
    background: url(../img/cancel.svg) no-repeat; }
  #header-mobile .btn-toggle-menu#btn-toogle-menu-mobile {
    background-color: #fff;
    border: 1px solid #347df1; }

#search-mobile-block {
  width: 100%;
  padding: 10px 15px;
  position: absolute;
  top: 0;
  background-color: #fff;
  z-index: -1;
  opacity: 0;
  transition: .4s; }

#search-mobile-block.show-serch-block {
  opacity: 1;
  top: 60px;
  z-index: 2; }

.search-mobile__form {
  position: relative; }
  .search-mobile__form input {
    padding-right: 40px; }
  .search-mobile__form .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    padding: 9px; }

.search-mobile__form .btn-search img {
  width: 20px;
  height: 21px; }

#sidebar-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; }
  #sidebar-mobile .top {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px; }
  #sidebar-mobile .scroll-content {
    overflow-y: scroll;
    height: calc(100% - 68px);
    border-top: 2px solid #e1e1e1; }
  #sidebar-mobile .btn-catalog {
    padding: 20px 15px;
    margin-bottom: 0;
    border-bottom: 2px solid #e1e1e1;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-color: #fff;
    font-size: 15px; }
    #sidebar-mobile .btn-catalog img {
      width: 24px;
      height: 20px;
      margin-right: 18px;
      object-fit: contain; }
    #sidebar-mobile .btn-catalog span {
      font-family: OpenSans-Bold;
      font-size: 15px;
      color: #212121; }
    #sidebar-mobile .btn-catalog .list-arrow-right {
      position: absolute;
      right: 0;
      height: 11px;
      width: 11px;
      object-fit: contain;
      transition: .4s; }
      #sidebar-mobile .btn-catalog .list-arrow-right.list-arrow-bottom {
        transform: rotate(90deg);
        transition: .4s; }
  #sidebar-mobile .bottom {
    margin-bottom: 20px; }
  #sidebar-mobile .btn-enter-account {
    display: block;
    width: calc(100% - 44px - 18px);
    height: 48px;
    background-color: #347df1;
    color: white;
    margin: 0;
    font-size: 13px;
    font-family: OpenSans;
    text-align: center;
    border: 1px solid #347df1;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 15px; }
  #sidebar-mobile .list {
    padding: 10px 15px;
    list-style-type: none;
    margin-bottom: 0;
    border-bottom: 2px solid #e1e1e1; }
    #sidebar-mobile .list .item {
      display: flex;
      align-items: center;
      color: #828282;
      padding: 10px 0;
      font-size: 14px;
      font-family: OpenSans; }
      #sidebar-mobile .list .item img {
        width: 20px;
        height: 18px;
        margin-right: 18px;
        object-fit: contain; }
    #sidebar-mobile .list .site-lang {
      margin: 0;
      height: 36px;
      width: 82px;
      margin-left: 34px; }
      #sidebar-mobile .list .site-lang li {
        font-size: 10px; }
        #sidebar-mobile .list .site-lang li.active {
          color: #fff;
          background-color: #347df1;
          border-radius: 6px; }
    #sidebar-mobile .list .p-list {
      padding-left: 40px;
      font-family: "OpenSans-Bold";
      font-size: 15px;
      color: #3e3e3e; }
    #sidebar-mobile .list.lang .item {
      padding: 0; }
    #sidebar-mobile .list.phones {
      padding-bottom: 20px; }
      #sidebar-mobile .list.phones .item:nth-child(n+2) {
        padding: 0; }

.menu-content {
  width: 300px;
  background-color: #fff;
  height: 100%; }

#catalog-mobile {
  display: none; }
  #catalog-mobile.list {
    padding: 0; }
    #catalog-mobile.list .item {
      padding: 20px 25px !important;
      position: relative; }
      #catalog-mobile.list .item.red-link {
        color: #f13468; }
      #catalog-mobile.list .item img {
        position: absolute;
        right: 0;
        height: 11px;
        width: 11px;
        object-fit: contain; }
    #catalog-mobile.list li {
      border-bottom: 1px solid #e1e1e1; }
      #catalog-mobile.list li:last-child {
        border-bottom: none; }

@media (max-width: 768px) {
  #header-desktop {
    display: none; }

  #header-mobile {
    display: block; } }
@media (max-width: 400px) {
  #header-mobile .header__icons-wrapper {
    width: 120px; } }
@media (max-width: 375px) {
  #header-mobile .logo {
    height: 40px; }

  #header-mobile .logo img {
    width: 140px;
    padding-left: 2px; } }
@media (max-width: 1700px) {
  .main-menu {
    padding-right: 15px; }
    .main-menu li {
      margin-left: 20px; }

  .site-lang {
    width: 100px;
    margin-right: 2%; } }
@media (max-width: 1600px) {
  #modal-menu-catalog .menu-catalog__subcategory .item {
    width: calc(100% / 6 - 15px);
    margin-right: 15px;
    margin-bottom: 15px; } }
@media (max-width: 1440px) {
  .header-menu .form-control {
    width: 200px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px; }

  .header__select-group .select-left-i, .header__select-group .select-right-i {
    width: 40px; }

  .header__col-side {
    width: 200px; }

  .header__col-center {
    width: calc(100% - 400px);
    padding-left: 0px;
    padding-right: 0px; }

  .header-dropdown-catalog .btn-blue {
    font-size: 14px;
    padding: 0 10px; }

  #modal-menu-catalog .menu-catalog {
    width: 170px; }

  #modal-menu-catalog .menu-catalog__subcategory {
    margin-top: 20px;
    width: calc(100% - 185px); } }
@media (max-width: 1200px) {
  #modal-menu-catalog .menu-catalog__subcategory .item {
    width: calc(100% / 5 - 15px); }

  .header__col-side {
    padding-left: 15px;
    padding-right: 15px; }

  .main-menu {
    width: calc(100% - 100px); }

  .header__select-group {
    margin-top: 21px;
    margin-right: 15px; }

  .header-search {
    width: calc(100% - 215px); }

  .header__icons-wrapper .bookmarks .text, .header__icons-wrapper .cart .text {
    font-size: 14px; }

  .site-lang {
    margin-right: 0; }

  /*.header__col-side{
      &:first-child{
          order: 0;
          display: flex;
      }
  }*/ }
@media (max-width: 991px) {
  #modal-menu-catalog {
    top: 135px;
    border-radius: 8px; }
    #modal-menu-catalog > div {
      flex-direction: column; }
    #modal-menu-catalog .menu-catalog {
      padding-top: 0; }
      #modal-menu-catalog .menu-catalog li {
        height: 35px; }
    #modal-menu-catalog .menu-catalog__subcategory {
      margin-top: 10px;
      width: 100%; }

  #modal-menu-catalog .menu-catalog li {
    padding: 0 10px; }
    #modal-menu-catalog .menu-catalog li a {
      font-size: 13px; }

  .header__col-side:first-child {
    order: 0;
    /*display: flex;*/
    width: 55%;
    /*justify-content: space-between;*/ }
  .header__col-side:last-child {
    order: 1;
    display: flex;
    justify-content: space-between;
    width: 45%;
    flex-direction: column-reverse; }

  .header__col-center {
    order: 2;
    width: 100%; }

  .header-logo {
    margin-bottom: 0; }

  .header-singin {
    margin-bottom: 0;
    padding: 0; }

  .header__col-center {
    padding-left: 15px;
    padding-right: 15px; }

  .header-singin .btn-blue {
    font-family: "OpenSans-Bold"; }

  .main-menu {
    justify-content: space-between;
    padding-right: 30px;
    width: calc(100% - 124px); }

  .header-dropdown-catalog .btn-blue {
    justify-content: center; }

  .site-lang {
    width: 124px; }

  .main-menu li {
    margin: 0 4px; } }
@media (max-width: 768px) {
  #modal-menu-catalog .menu-catalog__subcategory .item {
    width: calc(100% / 4 - 10px);
    margin-bottom: 10px;
    margin-right: 10px; }
    #modal-menu-catalog .menu-catalog__subcategory .item p {
      font-size: 13px; } }
@media (max-width: 600px) {
  .header__icons-wrapper .bookmarks .text, .header__icons-wrapper .cart .text {
    font-size: 12px; } }
@media (min-width: 481px) and (max-width: 600px) {
  .header-menu {
    justify-content: space-between; }

  .main-menu {
    width: 100%;
    padding-right: 0;
    margin-top: 15px; }

  .header-search {
    width: 100%;
    margin-top: 15px; }

  .header__select-group, .site-lang {
    margin-right: 0;
    margin-top: 15px; }

  .site-lang {
    width: 35%; }

  .header__select-group {
    width: 60%; }

  .header-menu .form-control {
    width: 100%; } }
@media (max-width: 480px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px; }

  .header__col-side {
    margin-bottom: 10px; }
    .header__col-side:first-child, .header__col-side:last-child {
      width: 100%; }

  .main-menu, .header-search {
    width: 100%; }

  .main-menu {
    padding-right: 0; }

  .site-lang {
    margin-top: 21px;
    margin-right: 10px; }

  .header__select-group {
    margin-right: 0; }

  .header-dropdown-catalog .btn-blue {
    font-size: 16px; }

  #modal-menu-catalog .menu-catalog__subcategory .item {
    width: calc(100% / 3 - 5px);
    margin-bottom: 5px;
    margin-right: 5px; } }
@media (max-width: 375px) {
  .site-lang {
    width: 80px; }

  .main-menu li {
    font-size: 14px; } }
footer {
  background-color: #4b5a72; }
  footer .copyright {
    border-top: 1px solid #efefef;
    text-align: center;
    padding: 31px 15px; }
    footer .copyright p {
      font-size: 14px;
      margin: 0; }
  footer p, footer a {
    color: #B7BDC6; }

.footer__menu {
  padding: 96px 0; }
  .footer__menu .footer__col {
    width: 16.66666667%;
    padding-left: 15px;
    padding-right: 15px; }

.footer__logo img {
  object-fit: contain;
  height: 57px;
  width: auto; }

.footer__description {
  font-size: 14px;
  max-width: 225px; }

.footer__caption {
  font-family: "OpenSans-Bold";
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
  letter-spacing: 0.5px; }

.footer__links {
  padding: 0;
  list-style-type: none; }
  .footer__links li {
    margin-bottom: 19px; }
    .footer__links li a {
      font-family: "OpenSans";
      font-size: 16px; }

.footer__pay-cards {
  max-width: 290px; }

.footer__pay-card {
  width: 45px;
  margin-right: 10px;
  margin-bottom: 10px; }

@media (min-width: 1301px) and (max-width: 1700px) {
  /*.footer__description{
      width: auto;
  }*/
  .footer__menu .footer__col:first-child {
    width: 20%; }

  .footer__menu .footer__col {
    width: 16%; } }
@media (max-width: 1300px) {
  .footer__description {
    width: auto; }

  .footer__links li {
    margin-bottom: 12px; } }
@media (min-width: 1201px) and (max-width: 1300px) {
  .footer__menu .footer__col:first-child {
    width: 22%; }

  .footer__menu .footer__col {
    width: 15.6%; } }
@media (min-width: 769px) and (max-width: 1200px) {
  .footer__menu .footer__col:first-child, .footer__menu .footer__col {
    width: 33.333333333%; }

  .footer__menu .footer__col:nth-child(n+4) {
    margin-top: 30px; } }
@media (min-width: 481px) and (max-width: 768px) {
  .footer__menu {
    padding: 55px 0; }

  .footer__menu .footer__col:first-child, .footer__menu .footer__col {
    width: 50%; }

  .footer__menu .footer__col:nth-child(n+3) {
    margin-top: 30px; } }
@media (max-width: 480px) {
  .footer__menu {
    padding: 40px 0 0; }

  .footer__menu .footer__col:first-child, .footer__menu .footer__col {
    width: 50%; }

  .footer__menu .footer__col:first-child {
    display: none; }

  .footer__menu .footer__col:last-child {
    width: 220px; }

  .footer__menu .footer__col:nth-child(n+2) {
    margin-top: 0;
    margin-bottom: 45px; }

  .footer__pay-cards {
    max-width: 100%; }

  .footer__pay-card {
    margin-right: 7px; }

  .footer__pay-card:nth-child(3n) {
    margin-right: 0; }

  .footer__caption {
    margin-bottom: 15px;
    font-size: 14px; }

  .footer__links li {
    margin-bottom: 10px; }

  .footer__links li a {
    font-size: 14px; }

  .footer__menu .footer__col {
    padding-left: 25px;
    padding-right: 25px; }

  .copyright__additionally-text {
    display: none; }

  footer .copyright {
    padding: 19px 15px; } }
#banner {
  padding-top: 30px; }
  #banner .features {
    margin-top: 20px; }
  #banner .banner .caption, #banner .banner p, #banner .banner a {
    color: #fff; }
  #banner .banner p {
    font-size: 14px; }
  #banner .banner a {
    font-size: 15px; }
  #banner .slider-banner {
    height: 570px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden; }
    #banner .slider-banner .caption {
      font-size: 40px; }
    #banner .slider-banner .slide {
      height: 570px;
      padding: 39px 85px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      position: relative; }
      #banner .slider-banner .slide > .wrapper {
        position: relative;
        z-index: 2; }
      #banner .slider-banner .slide .caption {
        text-align: right;
        max-width: 515px;
        margin-bottom: 88px; }
      #banner .slider-banner .slide:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 101%;
        height: 100%;
        opacity: .25;
        background-image: linear-gradient(65deg, #347df1, #3abeef); }
      #banner .slider-banner .slide ul {
        list-style-type: none;
        padding: 0;
        margin: 0; }
        #banner .slider-banner .slide ul li {
          text-align: right;
          margin-bottom: 4px; }
          #banner .slider-banner .slide ul li:nth-child(1) {
            opacity: .85; }
          #banner .slider-banner .slide ul li:nth-child(2) {
            opacity: .65; }
          #banner .slider-banner .slide ul li:nth-child(3) {
            opacity: .55; }
          #banner .slider-banner .slide ul li:nth-child(4) {
            opacity: .45; }
          #banner .slider-banner .slide ul li:nth-child(5) {
            opacity: .3; }
          #banner .slider-banner .slide ul li:nth-child(6) {
            opacity: .15;
            margin-bottom: 0; }
          #banner .slider-banner .slide ul li a {
            font-size: 22px; }
      #banner .slider-banner .slide .btn-look {
        position: absolute;
        top: 54px;
        right: 85px;
        width: 166px; }
    #banner .slider-banner .slick-dots {
      z-index: 1;
      position: absolute;
      left: 35%;
      bottom: 34px;
      width: 30%;
      padding: 0 15px;
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin-bottom: 0; }
      #banner .slider-banner .slick-dots li button {
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #fff;
        width: 10px;
        height: 10px;
        color: transparent;
        opacity: 0.6;
        padding: 0;
        font-size: 0;
        margin: 0 6.5px; }
      #banner .slider-banner .slick-dots li.slick-active button {
        opacity: 1; }
  #banner .stationery, #banner .certificates {
    position: relative;
    height: 270px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 17px 52px; }
    #banner .stationery > .wrapper, #banner .certificates > .wrapper {
      position: relative;
      z-index: 1; }
    #banner .stationery:before, #banner .certificates:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 101%;
      height: 100%;
      opacity: .75; }
  #banner .stationery {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; }
    #banner .stationery:before {
      background-image: linear-gradient(65deg, #347df1, #3abeef); }
    #banner .stationery ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      #banner .stationery ul li {
        text-align: right; }
        #banner .stationery ul li:nth-child(1) {
          opacity: .7; }
        #banner .stationery ul li:nth-child(2) {
          opacity: .5; }
        #banner .stationery ul li:nth-child(3) {
          opacity: .25; }
        #banner .stationery ul li:nth-child(4) {
          opacity: .15; }
        #banner .stationery ul li:nth-child(5) {
          opacity: .08; }
  #banner .certificates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover; }
    #banner .certificates:before {
      background-image: linear-gradient(244deg, #f88410, #f8b210); }
    #banner .certificates > .wrapper {
      text-align: center;
      padding-top: 30px; }
    #banner .certificates .caption {
      margin-bottom: 14px; }
  #banner .caption {
    font-size: 26px;
    font-family: "OpenSans-Bold";
    text-transform: none; }

@media (max-width: 991px) {
  #banner .slider-banner, #banner .stationery {
    margin-bottom: 15px; }

  #banner .banner__right-block {
    display: flex;
    justify-content: space-between; }
    #banner .banner__right-block .stationery, #banner .banner__right-block .certificates {
      width: calc(50% - 4px);
      height: 230px;
      padding: 17px 40px;
      margin-bottom: 0; }
    #banner .banner__right-block .certificates .wrapper {
      padding-top: 16px; }

  #banner .features {
    margin-top: 10px; }

  #banner .slider-banner .slide .caption {
    margin-bottom: 40px; }

  #banner .slider-banner .slide ul li a {
    font-size: 18px; }

  #banner .slider-banner .slick-dots {
    bottom: 20px; } }
@media (max-width: 600px) {
  #banner .caption {
    font-size: 20px; }
  #banner .banner__right-block {
    flex-direction: column; }
    #banner .banner__right-block .stationery, #banner .banner__right-block .certificates {
      width: 100%;
      height: 220px;
      padding: 17px 25px; }
  #banner .stationery .caption {
    margin-bottom: 15px; }
  #banner .certificates {
    margin-top: 10px; }
  #banner .slider-banner .slide {
    padding: 45px; }
    #banner .slider-banner .slide .caption {
      margin-bottom: 30px; }
    #banner .slider-banner .slide .btn-look {
      right: 45px; } }
@media (max-width: 480px) {
  #banner .slider-banner {
    height: 242px; }
    #banner .slider-banner .slide {
      padding: 25px 25px 18px;
      height: 242px; }
      #banner .slider-banner .slide .caption {
        font-size: 22px;
        margin-bottom: 10px;
        max-width: 290px; }
      #banner .slider-banner .slide ul li {
        margin-bottom: 0;
        height: 16px; }
        #banner .slider-banner .slide ul li a {
          font-size: 10px; }
      #banner .slider-banner .slide .btn-look {
        top: 25px;
        right: 25px;
        width: 107px;
        height: 28px;
        padding: 2px 10px;
        font-size: 14px;
        font-family: "OpenSans";
        border: 1px solid #fff; }
    #banner .slider-banner .slick-dots {
      bottom: 15px; }
  #banner .banner__right-block {
    display: none; }
  #banner .features {
    display: none; } }
.products {
  padding: 50px 0 20px; }

.categories-nav {
  display: flex;
  padding: 21px 145px 6px 29px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); }
  .categories-nav .btn-category {
    padding: 4px 28px;
    border-color: transparent;
    text-transform: lowercase; }

.categories-nav__tile {
  font-size: 16px;
  font-family: "OpenSans-Bold";
  margin: 0;
  color: #4b4b4b;
  padding-top: 5px; }

.column-filter {
  width: 80px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 40px;
  top: 26px; }
  .column-filter i {
    font-size: 24px;
    color: #d1d1d1; }
    .column-filter i.active {
      color: #347df1; }

.products__header {
  display: flex; }

.list-categories-products {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin: 0 0 0 29px;
  padding: 0; }
  .list-categories-products .btn-category:last-child {
    margin-right: 0; }

.product-card, .product-viewed-card {
  padding-left: 15px;
  padding-right: 15px; }
  .product-card .product-list__link, .product-viewed-card .product-list__link {
    display: none; }
  .product-card .count-product, .product-viewed-card .count-product {
    display: none; }
  .product-card .add-to-wishlist, .product-viewed-card .add-to-wishlist {
    display: none; }
  .product-card .stock-availability, .product-viewed-card .stock-availability {
    display: none; }
  .product-card.list, .product-viewed-card.list {
    width: 100% !important;
    max-width: 100% !important;
    flex: none !important; }
    .product-card.list .product-hover, .product-viewed-card.list .product-hover {
      display: none; }
    .product-card.list .product__image img, .product-viewed-card.list .product__image img {
      filter: blur(0) !important; }
    .product-card.list .bondage, .product-viewed-card.list .bondage {
      z-index: 1; }
    .product-card.list .stock-availability, .product-viewed-card.list .stock-availability {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      font-size: 14px; }
      .product-card.list .stock-availability i, .product-viewed-card.list .stock-availability i {
        color: #1592e6;
        margin-right: 3px; }
        .product-card.list .stock-availability i.fa-window-close, .product-viewed-card.list .stock-availability i.fa-window-close {
          color: #e6155c; }
    .product-card.list .btn-add-to-cart, .product-viewed-card.list .btn-add-to-cart {
      display: block;
      width: 210px;
      margin-bottom: 0;
      height: 48px;
      margin-left: 50px;
      margin-top: -6px;
      background-color: #347df1;
      color: #fff;
      border-radius: 6px;
      border: 2px solid #347df1;
      outline: none;
      transition: .3s; }
      .product-card.list .btn-add-to-cart:hover, .product-viewed-card.list .btn-add-to-cart:hover {
        color: #347df1;
        background-color: #fff;
        transition: .3s; }
    .product-card.list .add-to-wishlist, .product-viewed-card.list .add-to-wishlist {
      display: block; }
    .product-card.list .product, .product-viewed-card.list .product {
      display: flex;
      justify-content: space-between;
      height: 400px;
      padding: 30px; }
      .product-card.list .product .product__image, .product-viewed-card.list .product .product__image {
        width: 250px;
        height: 100%; }
        .product-card.list .product .product__image img, .product-viewed-card.list .product .product__image img {
          height: 100%; }
      .product-card.list .product .product__info, .product-viewed-card.list .product .product__info {
        width: calc(100% - 250px);
        border-top: none;
        height: auto;
        padding: 5px 15px; }
        .product-card.list .product .product__info .stars-wrapper, .product-viewed-card.list .product .product__info .stars-wrapper {
          display: block; }
          .product-card.list .product .product__info .stars-wrapper .stars, .product-viewed-card.list .product .product__info .stars-wrapper .stars {
            justify-content: flex-start;
            color: #333; }
            .product-card.list .product .product__info .stars-wrapper .stars i:first-child, .product-viewed-card.list .product .product__info .stars-wrapper .stars i:first-child {
              margin-left: 0; }
      .product-card.list .product .product-list__link, .product-viewed-card.list .product .product-list__link {
        display: flex;
        padding-left: 0;
        list-style-type: none;
        margin: 8px 0; }
        .product-card.list .product .product-list__link li, .product-viewed-card.list .product .product-list__link li {
          margin-right: 20px; }
          .product-card.list .product .product-list__link li a, .product-viewed-card.list .product .product-list__link li a {
            color: #afafaf;
            text-decoration: underline; }
            .product-card.list .product .product-list__link li a:hover, .product-viewed-card.list .product .product-list__link li a:hover {
              color: #1592e6; }
      .product-card.list .product .title-product, .product-viewed-card.list .product .title-product {
        font-size: 24px; }
      .product-card.list .product .description-product, .product-viewed-card.list .product .description-product {
        font-size: 16px;
        max-height: 65%;
        height: 170px;
        margin: 15px 0; }
      .product-card.list .product .price-wrapper, .product-viewed-card.list .product .price-wrapper {
        position: relative;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        bottom: 6px;
        width: 230px; }
        .product-card.list .product .price-wrapper .price, .product-viewed-card.list .product .price-wrapper .price {
          font-size: 18px;
          margin-right: 12px; }
        .product-card.list .product .price-wrapper .old-price-wrapper, .product-viewed-card.list .product .price-wrapper .old-price-wrapper {
          display: none; }
      .product-card.list .product .count-product, .product-viewed-card.list .product .count-product {
        display: flex;
        width: 200px; }

.products__body {
  margin-top: 14px; }

.viewed-products .slick-prev, .viewed-products .slick-next {
  border: 1px solid #347df1;
  background-color: #347df1;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: -52px; }
.viewed-products .slick-prev {
  right: 70px; }
.viewed-products .slick-next {
  right: 10px; }

.sortToGrid, .sortToList {
  cursor: pointer; }

.add-to-wishlist {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #afafaf;
  border-radius: 2px; }
  .add-to-wishlist img {
    width: 74%;
    height: 74%;
    object-fit: contain; }

.products-padding {
  padding-bottom: 50px; }

.product {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden; }
  .product .product__image {
    position: relative;
    overflow: hidden; }
  .product .product-hover {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(21, 146, 230, 0.8), #a36db0);
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: .5s; }

.bondage {
  position: absolute;
  top: 10px;
  right: 0; }
  .bondage div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6px; }
  .bondage .new, .bondage .hit, .bondage .bestseller, .bondage .stock {
    border-radius: 20px 0 0 20px;
    color: #fff;
    padding: 6px 10px;
    text-align: justify;
    font-family: "OpenSans";
    font-size: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
  .bondage .new {
    background-color: #1592e6; }
  .bondage .hit {
    background-color: #e6155c; }
  .bondage .bestseller {
    background-color: #f5be49; }
  .bondage .stock {
    background-color: #6e57a5; }

.count-product {
  display: flex;
  justify-content: space-between; }
  .count-product .minus, .count-product .plus {
    width: 36px;
    background-color: #f9f9f9;
    color: #636363;
    font-family: "OpenSans-Bold";
    font-size: 20px;
    cursor: pointer;
    transition: .3s; }
    .count-product .minus:hover, .count-product .plus:hover {
      background-color: #347df1;
      color: #fff;
      border-color: #347df1;
      transition: .3s; }
  .count-product .minus, .count-product .plus, .count-product .value {
    height: 36px;
    border: 1px solid #afafaf;
    text-align: center;
    border-radius: 2px;
    outline: none; }
  .count-product .value {
    width: calc(100% - 130px); }

.product-hover__top {
  display: flex;
  justify-content: space-between;
  color: #fff; }

.product__vailability {
  display: flex;
  align-items: center; }
  .product__vailability .fas {
    margin-right: 11px; }
  .product__vailability .text {
    font-family: "OpenSans-Bold";
    font-size: 14px; }

.add-to-bookmarks {
  width: 42px;
  height: 42px;
  background-color: #fff;
  color: #826daa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #fff; }
  .add-to-bookmarks:hover {
    background-color: #826daa;
    color: #fff; }

.product-hover__middle {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 35px; }

.product-hover__bottom {
  padding-bottom: 25px; }

.product__info {
  padding: 9px 15px 0;
  height: 135px;
  position: relative;
  border-top: solid 1px #e9e9e9; }
  .product__info .btn-add-to-cart {
    display: none; }
  .product__info .stars-wrapper {
    display: none; }

.title-product {
  display: block;
  font-family: "OpenSans-Bold";
  color: #373737;
  margin: 0;
  font-size: 16px;
  max-height: 48px;
  overflow: hidden; }
  .title-product.blue {
    color: #1592e6; }

.description-product {
  margin: 10px 0;
  font-size: 14px;
  max-height: 44px;
  overflow: hidden; }

.price-wrapper {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 1; }

.price {
  color: #1592e6;
  font-size: 18px;
  font-family: "OpenSans-Bold";
  margin: 0; }

.old-price-wrapper {
  padding: 4px 0;
  margin: 0; }

.old-price {
  text-decoration: line-through;
  color: #afafaf;
  margin-right: 5px; }

.discount {
  background-color: #6e57a5;
  color: #fff;
  border-radius: 8px;
  padding: 2px 5px; }

.product-in-stock, .product-out-of-stock {
  font-family: "OpenSans-Bold";
  font-size: 14px;
  margin: 15px 0;
  display: flex;
  justify-content: center; }
  .product-in-stock i, .product-out-of-stock i {
    margin-right: 13.6px; }
  .product-in-stock .text, .product-out-of-stock .text {
    line-height: 1.14; }

.product-in-stock.green {
  color: #20ba62; }

.product-out-of-stock {
  color: red; }

.mobile-prices-and-btns {
  display: none; }

@media (max-width: 1800px) {
  .price {
    font-size: 16px; }

  .old-price-wrapper {
    padding: 2px 0;
    font-size: 14px; }

  .old-price {
    margin-right: 2px; }

  .discount {
    padding: 2px 4px; } }
@media (min-width: 1441px) {
  .product .product__image img {
    height: 415px; } }
@media (max-width: 1440px) {
  .product-card.list .product .product__image, .product-viewed-card.list .product .product__image {
    width: 185px; }

  .product-card.list .product .description-product, .product-viewed-card.list .product .description-product {
    height: 146px; }

  .product-card.list .product .price-wrapper, .product-viewed-card.list .product .price-wrapper {
    width: 160px; }

  .product-card.list .product .product__info, .product-viewed-card.list .product .product__info {
    width: calc(100% - 185px); }

  .product-card.list .btn-add-to-cart, .product-viewed-card.list .btn-add-to-cart {
    width: 180px;
    margin-left: 40px; }

  .product-card.list .product, .product-viewed-card.list .product {
    height: 380px; }

  .price-wrapper {
    flex-direction: column-reverse; }

  .products-cards, .product-viewed-card {
    margin-left: -5px;
    margin-right: -5px;
    padding-bottom: 15px; }

  .product-card {
    padding-left: 15px;
    padding-right: 15px; }

  .product__info {
    height: 150px; }

  .product {
    margin-bottom: 15px; }

  .product-hover__bottom {
    padding-bottom: 15px; }

  .product .product__image img {
    height: 300px; } }
@media (min-width: 992px) and (max-width: 1440px) {
  .product .product__image img {
    height: 350px; }

  .product-card {
    flex: 0 0 20%;
    max-width: 20%; } }
@media (max-width: 991px) {
  .products__header, .categories-nav {
    flex-direction: column; }

  .categories-nav {
    margin-left: 0; }
    .categories-nav .btn-category {
      padding: 4px 0; }
      .categories-nav .btn-category.active {
        padding: 4px 20px; }

  .categories-nav__tile {
    padding: 0;
    margin-bottom: 10px; }

  .list-categories-products {
    margin: 0; }

  .products-cards {
    margin-top: 60px; }

  .viewed-products .slick-prev, .viewed-products .slick-next {
    top: -40px; }

  .product-card.list, .product-viewed-card.list {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 5px; }

  .price {
    font-size: 14px; }

  .old-price-wrapper {
    font-size: 14px; }

  .product-card.list .btn-add-to-cart, .product-viewed-card.list .btn-add-to-cart {
    margin-left: 20px;
    font-size: 14px;
    height: 36px;
    margin-top: 0;
    width: 140px;
    padding: 3px 8px;
    border-radius: 4px; } }
@media (min-width: 901px) {
  .product:hover .bondage {
    display: none; }
  .product:hover .product__image img {
    filter: blur(5px); }
  .product:hover .product-hover {
    opacity: 1;
    transition: .5s; }
  .product:hover .title-product {
    color: #1592e6; } }
@media (max-width: 900px) {
  .bondage .new, .bondage .hit, .bondage .bestseller {
    font-size: 13px; }

  .product-hover__bottom {
    padding-bottom: 20px; }

  .column-filter {
    width: 60px;
    right: 20px;
    top: 20px; }

  .categories-nav {
    padding: 21px 20px 6px 20px; }

  .categories-nav__tile {
    padding-right: 80px; }

  .products-cards {
    margin-top: 35px; }

  .viewed-products .products-cards {
    margin-top: 56px; } }
@media (max-width: 768px) {
  .product-card.list .product .description-product, .product-viewed-card.list .product .description-product {
    height: 64px;
    font-size: 14px; }

  .mobile-row-prices {
    flex-direction: column; }

  .product-card.list .btn-add-to-cart, .product-viewed-card.list .btn-add-to-cart {
    margin-left: 0;
    margin-top: 10px;
    font-size: 14px; }

  .product-card.list .add-to-wishlist, .product-viewed-card.list .add-to-wishlist {
    margin-right: 0; }

  .count-product .minus, .count-product .plus {
    font-size: 16px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .product .product__image img {
    height: 260px; }

  .product .product-hover {
    padding: 10px; }

  .list .product .product-hover {
    padding: 20px; }

  .product-hover__middle {
    padding-top: 10px; }

  .product-hover__bottom {
    padding-bottom: 10px; }

  .btn-add-to-cart, .btn-look {
    font-size: 14px;
    padding: 7px 10px;
    width: 90%; }

  .btn-add-to-cart .fas {
    margin-right: 4px; }

  .product__vailability .fas {
    display: none; }

  .product__vailability .text {
    max-width: 65px; } }
@media (min-width: 400px) and (max-width: 575px) {
  .product .product__image img {
    height: 300px; } }
@media (max-width: 1440px) {
  .discount {
    display: none; }

  .price-wrapper {
    flex-direction: row; }

  .price {
    font-size: 16px; }

  .old-price-wrapper {
    padding: 0;
    font-size: 16px; }

  .old-price {
    margin-right: 0; } }
@media (max-width: 575px) {
  .products-slider {
    margin-left: 0;
    margin-right: 0; }
    .products-slider .slick-track {
      min-width: 100%; }

  .product-card {
    padding-left: 5px;
    padding-right: 5px; }

  .price {
    font-size: 13px; }

  .old-price-wrapper {
    padding: 0;
    font-size: 13px; } }
@media (max-width: 480px) {
  .product-card.list .product .product__image, .product-viewed-card.list .product .product__image {
    width: 160px; }

  .product-card.list .product .product__info, .product-viewed-card.list .product .product__info {
    width: calc(100% - 160px); }

  .product-card.list .product .title-product, .product-viewed-card.list .product .title-product {
    font-size: 18px; }

  .product-card.list .product .product-list__link, .product-viewed-card.list .product .product-list__link {
    margin: 2px 0 6px; }

  .product-card.list .product .description-product, .product-viewed-card.list .product .description-product {
    margin: 8px 0; }

  .count-product .minus, .count-product .plus {
    font-size: 16px;
    width: 30px; }

  .bondage .new, .bondage .hit, .bondage .bestseller, .bondage .stock {
    font-size: 12px;
    padding: 3px 10px; }

  .product__vailability .text {
    font-size: 11px; }

  .title-product {
    font-size: 14px;
    max-height: 42px; }

  .description-product {
    font-size: 12px;
    margin: 0;
    max-height: 34px; }

  .product__info {
    height: 120px; }

  .add-to-bookmarks {
    width: 28px;
    height: 28px; }
    .add-to-bookmarks i {
      font-size: 11px; }

  .btn-add-to-cart, .btn-look {
    width: 100%;
    height: 33px;
    padding: 4px 15px;
    font-size: 14px; }

  .stars-text {
    font-size: 11px; }

  .product .stars i {
    font-size: 12px; }

  .product__vailability .fas {
    display: none; }

  .product-hover__middle {
    padding-top: 5px; }

  .product-hover__bottom {
    padding-bottom: 10px; }

  .btn-add-to-cart .fas {
    margin-right: 4px; }

  .products-cards {
    padding-bottom: 0; }

  .product-card.list .product, .product-viewed-card.list .product {
    height: 306px;
    padding: 10px; }

  .product-card.list .product .description-product, .product-viewed-card.list .product .description-product {
    max-height: 55%; }

  .products {
    padding: 20px 0 0; }

  h2 {
    margin-bottom: 18px; }

  .product .product__image img {
    height: 255px; }

  .viewed-products .products-cards, .viewed-products h2 {
    display: none; }

  .product-hover__top, .product-hover__middle, .product-hover__bottom {
    display: none; }

  .show-flex .product-hover__top,
  .show-flex .product-hover__middle {
    display: flex; }

  .show-flex .product-hover__bottom {
    display: block; }

  .btn-category {
    font-size: 14px; }

  .product-card.list .product .count-product, .product-viewed-card.list .product .count-product {
    width: 160px; }

  .count-product .value {
    width: calc(100% - 110px); } }
@media (max-width: 400px) {
  .subscribe__form input, .header-search input {
    width: 56%; }

  .product .product-hover {
    padding: 10px; }

  .product__vailability .text {
    max-width: 65px;
    font-size: 13px; }

  .product-card.list .product .product__image {
    width: 50%; }

  .product-card.list .product .product__info {
    width: 50%;
    padding: 15px; }

  .product-card.list .product .price-wrapper {
    height: 200px !important; } }
@media (max-width: 380px) {
  .product-card.list .product, .product-viewed-card.list .product {
    height: 250px;
    margin-bottom: 15px; } }
.subscribe {
  background-color: #fff;
  padding: 61px 0; }
  .subscribe .h2 {
    margin-bottom: 13px; }
  .subscribe p {
    margin-top: 0; }

.subscribe__text p:last-of-type {
  margin-bottom: 0; }

.subscribe__form, .header-search {
  display: flex;
  align-items: center; }
  .subscribe__form form, .header-search form {
    display: flex;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    width: 100%;
    overflow: hidden;
    height: 56px; }
  .subscribe__form input, .header-search input {
    border: 0px;
    border-radius: 4px 0 0 4px;
    color: #8b8b8b;
    font-family: "OpenSans";
    height: 56px;
    padding-left: 33px; }

.subscribe__form {
  flex-direction: column; }
  .subscribe__form #result-valid {
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
    margin-bottom: 0; }

@media (max-width: 900px) {
  .subscribe {
    padding: 45px 0; } }
@media (max-width: 768px) {
  .subscribe__form {
    margin-top: 20px; }

  .subscribe__form input, .header-search input {
    padding-left: 15px; } }
@media (max-width: 480px) {
  .subscribe {
    padding: 13px 0 30px; }

  .subscribe__text p:last-of-type {
    font-size: 13px; }

  .subscribe .h2 {
    margin-bottom: 7px; }

  .subscribe__form {
    margin-top: 35px; }

  .btn-subscribe span {
    display: none; } }
.features .features__item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 15px; }
  .features .features__item p {
    margin: 0;
    padding: 0 10px;
    font-size: 14px; }
.features .title-features {
  color: #737373;
  font-family: "OpenSans-Bold"; }
.features .description-features {
  color: #c8c8c8;
  font-size: 14px;
  font-family: 'Geometria'; }
.features img {
  width: auto;
  height: 41px; }

@media (max-width: 1700px) {
  .features .title-features {
    font-size: 14px; } }
@media (max-width: 1440px) {
  .features {
    margin-left: -5px;
    margin-right: -5px; }
    .features > div {
      padding-left: 5px;
      padding-right: 5px;
      /*&:nth-child(n+3){
          margin-top: 10px;
      }*/ }
    .features .features__item {
      height: 100px; } }
@media (max-width: 1200px) {
  .features .features__item {
    margin-bottom: 10px; } }
@media (max-width: 575px) {
  .features > div {
    margin-top: 10px; } }
.pagination {
  margin: 15px 0; }

.page-link {
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  color: #373737;
  font-family: "OpenSans-Bold";
  width: 54px;
  height: 54px;
  font-size: 18px;
  text-align: center;
  line-height: 2;
  border: 0; }

.three-point .page-link {
  background-color: transparent;
  box-shadow: none;
  border-color: transparent; }

@media (max-width: 768px) {
  .page-link {
    width: 40px;
    height: 40px;
    line-height: 1.5; } }
.stars-text {
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px; }

.stars-wrapper {
  /*.stars li{
      position: relative;
      background: url(../image/rankstar-0.png) no-repeat;
      width: 25px;
      height: 20px;
      margin-right: 1px;   
  }
  .stars li.selected:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      background: url(../image/rankstar-1.png) no-repeat;
  }*/ }
  .stars-wrapper .stars {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #fff; }
    .stars-wrapper .stars i {
      margin: 0 3.3px; }

@media (max-width: 400px) {
  .stars-wrapper .stars i {
    margin: 0 3px; } }
.author-sec {
  display: flex;
  justify-content: space-between; }

.author-sec__img {
  height: 450px;
  width: 404px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); }

.author-sec__content {
  width: calc(100% - 404px - 30px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 40px 50px; }

.name-author {
  margin-bottom: 0; }

.english-name-author {
  margin-bottom: 31px; }

.description-block {
  max-height: 230px;
  overflow: hidden; }
  .description-block p {
    line-height: 1.63;
    letter-spacing: 0.2px; }

@media (max-width: 991px) {
  .author-sec {
    flex-direction: column; }

  .author-sec__img {
    width: 100%;
    margin-bottom: 15px; }

  .author-sec__content {
    width: 100%; } }
@media (max-width: 480px) {
  .author-sec__img {
    height: 330px; }

  .author-sec__content {
    padding: 40px 25px; } }
.product-sec {
  display: flex;
  justify-content: space-between; }

.product-sec__left {
  width: calc(100% - 405px - 30px); }

.product-sec__right {
  width: 405px;
  position: relative; }

.card-buy-product {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); }
  .card-buy-product .head-card {
    border-bottom: solid 2px #d9d9d9;
    padding-top: 15px;
    padding-bottom: 15px; }
    .card-buy-product .head-card p {
      margin: 0; }
  .card-buy-product .body-card {
    padding: 23px 25px; }

.buy-product {
  text-align: center;
  padding: 0 31px; }
  .buy-product .price {
    font-size: 32px;
    color: #212121;
    margin-bottom: 4px; }
  .buy-product .old-price-wrapper {
    margin-bottom: 25px;
    font-size: 20px; }
    .buy-product .old-price-wrapper .old-price {
      font-size: 20px; }
    .buy-product .old-price-wrapper .discount {
      font-size: 14px; }

.add-to-cart-wrapper {
  display: flex;
  justify-content: space-between; }
  .add-to-cart-wrapper .btn-add-to-cart {
    background-color: #e6155c;
    width: calc(100% - 66px);
    height: 50px;
    color: #fff;
    box-shadow: 0 3px 6px 0 rgba(230, 21, 92, 0.16);
    border-radius: 30px;
    border: 1px solid #e6155c; }
    .add-to-cart-wrapper .btn-add-to-cart img {
      height: 20px;
      width: auto;
      margin-top: -6px;
      margin-right: 14px; }
  .add-to-cart-wrapper .btn-add-to-bookmarks {
    width: 52px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 3px 6px 0 rgba(52, 125, 241, 0.16);
    background-color: #347df1;
    border: 1px solid #347df1;
    color: #fff;
    padding-top: 5px; }
    .add-to-cart-wrapper .btn-add-to-bookmarks i {
      font-size: 20px; }

.buy-one-click {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(52, 125, 241, 0.16);
  background-color: #347df1;
  border: 1px solid #347df1;
  color: #fff;
  font-family: "OpenSans-Bold";
  font-size: 16px;
  margin-bottom: 42px; }

.delivary-product {
  border-top: 1px solid #d9d9d9; }
  .delivary-product .caption {
    font-family: "OpenSans-Bold";
    color: #303030;
    margin-top: 22px;
    margin-bottom: 9px; }
  .delivary-product ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #8d8d8d; }
    .delivary-product ul li {
      display: flex;
      justify-content: space-between;
      font-size: 14px; }
      .delivary-product ul li span {
        display: block; }
        .delivary-product ul li span:last-child {
          width: 87px; }
  .delivary-product p {
    margin-bottom: 0;
    font-size: 14px; }

.card-info-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 648px;
  margin-bottom: 30px; }
  .card-info-product .images-wrapper {
    display: flex;
    justify-content: space-between; }
  .card-info-product .images {
    width: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px; }
    .card-info-product .images img {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
      height: 182px; }
  .card-info-product .image {
    width: 405px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative; }
    .card-info-product .image .bondage {
      top: 30px;
      left: 0;
      right: auto; }
      .card-info-product .image .bondage div {
        justify-content: flex-start;
        margin-bottom: 9px; }
    .card-info-product .image .bondage .new, .card-info-product .image .bondage .hit, .card-info-product .image .bondage .bestseller, .card-info-product .image .bondage .stock {
      border-radius: 0 20px 20px 0;
      padding: 10px 26px; }
  .card-info-product .info {
    width: calc(100% - 115px - 30px - 405px - 30px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    min-height: 300px;
    padding: 40px 50px; }
    .card-info-product .info .title-book {
      margin-bottom: 0;
      padding-right: 120px; }
    .card-info-product .info .author-name {
      padding-right: 120px; }
    .card-info-product .info .stars-wrapper {
      margin-top: 29px;
      margin-bottom: 40px;
      display: flex; }
      .card-info-product .info .stars-wrapper .stars {
        margin-bottom: 0; }
    .card-info-product .info .info-caption {
      position: relative; }
    .card-info-product .info .product-code {
      position: absolute;
      top: 0;
      right: 0; }
      .card-info-product .info .product-code p {
        margin: 3px 0;
        font-size: 12px;
        line-height: 1.17; }

.product-tabs .nav-tabs {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 17px;
  padding: 17px 50px; }
  .product-tabs .nav-tabs .nav-link, .product-tabs .nav-tabs .nav-tabs .nav-item.show .nav-link {
    border-color: transparent;
    border-radius: 36px;
    color: #212121;
    font-size: 18px;
    font-family: "OpenSans-Bold";
    padding: 10px 32px; }
  .product-tabs .nav-tabs .nav-link.active, .product-tabs .nav-tabs .nav-tabs .nav-item.show .nav-link {
    background-color: #347df1;
    color: #fff; }
.product-tabs .tab-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); }
  .product-tabs .tab-content .tab-header {
    border-bottom: 2px solid #d9d9d9;
    padding: 26px 118px 26px 70px; }
    .product-tabs .tab-content .tab-header > * {
      margin: 0; }
  .product-tabs .tab-content .tab-body {
    padding: 42px 118px 67px 70px; }

.specifications {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .specifications.part-of-the-content {
    overflow: hidden;
    max-height: 255px; }
  .specifications li {
    display: flex;
    margin-bottom: 6px; }
    .specifications li:last-child {
      margin-bottom: 0; }
  .specifications p {
    display: flex;
    width: 50%;
    margin: 0;
    position: relative; }
  .specifications .title {
    font-size: 14px;
    font-family: "OpenSans";
    color: #8d8d8d;
    display: block;
    margin-top: 2px;
    padding-right: 14.5px;
    background-color: #fff;
    position: relative;
    z-index: 1; }
  .specifications .line {
    width: 100%;
    height: 19px;
    border-bottom: solid 1px #e2e2e2;
    display: block;
    position: absolute; }
  .specifications .value {
    font-size: 14px;
    font-family: "OpenSans";
    color: #515151;
    padding-left: 24px;
    margin-top: 2px; }
    .specifications .value.blue {
      color: #347df1; }

.comment {
  margin-bottom: 39px; }
  .comment:last-child {
    margin-bottom: 0; }
  .comment .name {
    font-size: 18px;
    font-family: "OpenSans-Bold";
    color: #212121;
    margin-bottom: 12.1px; }
  .comment .text {
    max-height: 70px;
    overflow: hidden; }

.stars-wrapper.left .stars {
  justify-content: flex-start;
  color: #e6155c;
  margin-bottom: 13.5px; }
  .stars-wrapper.left .stars i {
    margin-left: 0;
    margin-right: 5.6px; }

.reviews-count {
  color: #8d8d8d;
  font-size: 14px;
  font-family: "OpenSans";
  margin-left: 14px;
  margin-top: -2px; }

.card-buy-product.scrolling {
  margin-top: 30px;
  width: inherit; }
  .card-buy-product.scrolling .head-card {
    padding: 21px 59px; }
    .card-buy-product.scrolling .head-card > div p {
      text-align: center;
      font-family: "OpenSans-Bold";
      color: #212121;
      cursor: pointer; }
    .card-buy-product.scrolling .head-card > div.active p {
      color: #347df1; }
  .card-buy-product.scrolling .body-card #switch-buy, .card-buy-product.scrolling .body-card #switch-delivary {
    display: none; }
    .card-buy-product.scrolling .body-card #switch-buy.active, .card-buy-product.scrolling .body-card #switch-delivary.active {
      display: block; }
  .card-buy-product.scrolling .body-card .delivary-product {
    border-top: none; }
    .card-buy-product.scrolling .body-card .delivary-product .wrapper:first-child .caption {
      margin-top: 5px; }

@media (max-width: 1700px) {
  .product-sec__left {
    width: calc(100% - 340px - 15px); }

  .product-sec__right {
    width: 340px; }

  .card-info-product .images {
    margin-right: 15px; }
  .card-info-product .image {
    width: 340px; }
  .card-info-product .info {
    width: calc(100% - 115px - 15px - 340px - 15px); }

  .card-info-product {
    min-height: 580px; }

  .card-buy-product.scrolling .head-card {
    padding: 20px 35px; }

  .card-buy-product.scrolling .head-card > div p {
    font-size: 14px; }

  .card-buy-product.scrolling {
    margin-top: 20px; } }
@media (max-width: 1440px) {
  .buy-product {
    padding: 0; }

  .buy-one-click {
    margin-bottom: 25px; }

  .card-info-product .images-wrapper {
    flex-direction: column-reverse; }

  .card-info-product .images {
    flex-direction: row;
    margin-right: 0;
    margin-top: 10px;
    width: 340px; }
    .card-info-product .images img {
      width: 32%; }

  .card-info-product .info {
    width: calc(100% - 340px - 15px); } }
@media (max-width: 1200px) {
  .card-info-product {
    flex-direction: column; }
    .card-info-product .info {
      width: 100%; }
    .card-info-product .image {
      height: 800px;
      width: 70%; }
    .card-info-product .images {
      width: calc(30% - 15px);
      flex-direction: column;
      margin-top: 0; }
      .card-info-product .images img {
        height: 260px;
        width: 100%; }
    .card-info-product .images-wrapper {
      flex-direction: row-reverse;
      margin-bottom: 15px; }

  .product-sec__left {
    width: 100%; }

  .product-sec__right {
    width: 100%; }

  .card-buy-product.scrolling {
    display: none; }

  .product-sec {
    flex-direction: column; }

  .card-buy-product .body-card {
    display: flex;
    padding: 40px 25px; }

  .buy-one-click {
    margin-bottom: 0; }

  .buy-product .price {
    font-size: 28px; }

  .buy-product .old-price-wrapper .old-price {
    font-size: 16px; }

  .delivary-product .wrapper .caption {
    margin-top: 10px; }
  .delivary-product .wrapper:first-child .caption {
    margin-top: 0; }

  .buy-product {
    width: 50%;
    padding: 0 80px 0 40px; }

  .delivary-product {
    border: none;
    width: 50%; }

  .add-to-cart-wrapper .btn-add-to-cart {
    width: calc(100% - 52px - 15px); } }
@media (max-width: 900px) {
  .product-sec__left, .product-sec__right {
    width: 100%; }

  .product-sec__left {
    margin-bottom: 15px; }

  .card-info-product .info {
    padding: 40px 25px; }

  .card-info-product, .product-tabs .nav-tabs {
    margin-bottom: 15px; }

  .product-tabs .nav-tabs {
    padding: 20px; }

  .product-tabs .tab-content .tab-header, .product-tabs .tab-content .tab-body {
    padding: 25px; }

  .card-info-product .info .stars-wrapper {
    margin-top: 15px;
    margin-bottom: 15px; } }
@media (max-width: 768px) {
  .buy-product {
    padding: 0 30px 0 0px; } }
@media (max-width: 600px) {
  .specifications p:first-child {
    width: 37%; }
  .specifications p:last-child {
    width: 63%; }

  .specifications .title, .specifications .value {
    font-size: 13px; }

  .specifications .value {
    padding-left: 10px; }

  .specifications.part-of-the-content {
    max-height: 245px; }

  .card-buy-product .body-card {
    flex-direction: column; }

  .buy-product, .delivary-product {
    width: 100%; }

  .buy-product {
    margin-bottom: 20px;
    padding-right: 0; } }
@media (max-width: 480px) {
  .product-tabs .nav-tabs .nav-link, .product-tabs .nav-tabs .nav-tabs .nav-item.show .nav-link {
    font-size: 13px;
    padding: 10px 15px; }

  .card-info-product .info {
    padding: 30px 25px; }
    .card-info-product .info .read-all {
      margin-top: 10px; }

  .specifications li {
    flex-direction: column; }

  .specifications p:first-child {
    width: 100%; }
  .specifications p:last-child {
    width: 100%; }

  .card-info-product .images-wrapper {
    flex-direction: column-reverse; }

  .card-info-product .images {
    width: 100%;
    flex-direction: row;
    margin-bottom: 0; }

  .card-info-product .image {
    height: 700px;
    margin-bottom: 10px;
    width: 100%; }

  .card-info-product .images img {
    height: 250px;
    width: 32%; }

  .product-tabs .nav-tabs {
    padding: 15px;
    display: flex;
    flex-direction: column; }
    .product-tabs .nav-tabs a {
      text-align: center; }

  .product-tabs .tab-content .tab-header {
    padding: 15px; }

  .product-tabs .tab-content .tab-body {
    padding: 15px; }
    .product-tabs .tab-content .tab-body p {
      font-size: 13px; }

  .comment {
    margin-bottom: 30px; }
    .comment .text {
      max-height: 60px; }
    .comment .read-all {
      margin-top: 0; }

  .text.part-of-the-content {
    margin-bottom: 0; } }
.shop .container {
  display: flex;
  justify-content: space-between;
  position: relative; }

.shop-filter {
  padding-top: 29px; }
  .shop-filter > .wrapper {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); }
  .shop-filter #filter-block {
    width: 260px; }
  .shop-filter .head {
    padding: 19px 25px;
    border-bottom: 2px solid #efefef;
    text-align: center; }
    .shop-filter .head > p:first-child {
      margin-bottom: 3px; }
    .shop-filter .head > p:last-child {
      margin-bottom: 0; }
    .shop-filter .head .count-product-page {
      font-size: 14px;
      color: #b2b2b2; }
  .shop-filter .body {
    padding: 0 25px; }
    .shop-filter .body .caption {
      color: #4b4b4b;
      font-size: 16px;
      font-family: "OpenSans-Bold";
      text-decoration: none;
      display: block; }
      .shop-filter .body .caption i {
        width: 20px;
        margin-right: 12px;
        text-align: center; }
      .shop-filter .body .caption.opened i {
        transform: rotate(180deg); }
    .shop-filter .body .custom-control {
      padding-left: 26px;
      margin-top: 12px;
      /*margin-bottom: 10px;*/ }
      .shop-filter .body .custom-control:last-child {
        margin-bottom: 0; }
      .shop-filter .body .custom-control input {
        height: 0; }
    .shop-filter .body .custom-control-label {
      padding-left: 12px;
      font-size: 14px; }
      .shop-filter .body .custom-control-label:before, .shop-filter .body .custom-control-label:after {
        top: 0; }
      .shop-filter .body .custom-control-label:hover {
        color: #007bff; }
    .shop-filter .body .collaps-block {
      padding-top: 22px;
      padding-bottom: 22px;
      border-bottom: 2px solid #efefef; }
      .shop-filter .body .collaps-block:last-child {
        border-bottom: none; }
      .shop-filter .body .collaps-block .part-of-the-content {
        max-height: 216px;
        overflow: hidden; }
    .shop-filter .body .read-all {
      margin-top: 15px; }

.shop-wrapper {
  width: calc(100% - 260px - 30px); }

#collapse3 .flex-between {
  margin-top: 12px; }
#collapse3 input {
  height: 31px;
  margin-left: 10px;
  margin-right: 10px; }

.btn-filter {
  display: none; }

@media (min-width: 1700px) {
  .shop-wrapper .product-card {
    width: calc(100% / 5);
    flex: none;
    max-width: none; } }
@media (max-width: 1440px) {
  .shop-filter {
    width: 210px; }
    .shop-filter .head {
      padding: 15px; }

  .shop-wrapper {
    width: calc(100% - 210px - 20px); }

  .shop-filter .body {
    padding: 0 15px; }
    .shop-filter .body .caption {
      font-size: 14px; } }
@media (max-width: 991px) {
  .btn-filter {
    width: 40px;
    height: 40px;
    background-color: #347df1;
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 10px; }

  .shop-filter {
    position: absolute;
    z-index: 9;
    top: 15px;
    right: 15px; }
    .shop-filter .wrapper {
      display: none; }

  .shop-wrapper {
    width: 100%; } }
/*---Styles---*/
.breadcrumb {
  padding: 29px 0;
  margin-bottom: 0; }

.read-all {
  font-size: 14px;
  color: #347df1;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  margin-top: 20px;
  display: block; }

.more-text {
  max-height: none !important;
  overflow: auto !important; }

.strong {
  font-family: "OpenSans-Bold";
  color: #212121; }

.slick-track {
  margin: 0;
  /*width: 100% !important;*/ }

.fixed {
  position: fixed;
  top: 0; }

.discounts-page .product .product__image img {
  height: 300px; }

.send-icon {
  display: none; }

@media (max-width: 480px) {
  .send-icon {
    display: block;
    width: 25px;
    height: 20px;
    object-fit: contain; }

  .btn-subscribe {
    width: 56px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 15px; }

  .subscribe__form input, .header-search input {
    padding-right: 50px; } }
@media (max-width: 400px) {
  .read-all {
    margin-top: 15px; } }
/*---end styles---*/

/*# sourceMappingURL=style.css.map */
