.author-sec{
    display: flex;
    justify-content: space-between;
}
.author-sec__img{
    height: 450px;
    width: 404px;
    @include box;
}
.author-sec__content{
    width: calc(100% - 404px - 30px);
    @include box;
    padding: 40px 50px;
}
.name-author{
    margin-bottom: 0;
}
.english-name-author{
    margin-bottom: 31px;
}
.description-block{
    max-height: 230px;
    overflow: hidden;
    p{
        line-height: 1.63;
        letter-spacing: 0.2px;
    }
}
@media(max-width:991px){
    .author-sec{
        flex-direction: column;
    }
    .author-sec__img{
        width: 100%;
        margin-bottom: 15px;
    }
    .author-sec__content{
        width: 100%;
    }
}
@media(max-width:480px){
    .author-sec__img{
        height: 330px;
    }
    .author-sec__content{
        padding: 40px 25px;
    }
}