#banner{
    padding-top: 30px;
    .features{
        margin-top: 20px;
    }
    .banner{
        .caption, p, a{
            color: #fff;
        }
        p{
            font-size: 14px;
        }
        a{
            font-size: 15px;
        }
    }
    .slider-banner{
        height: 570px;
        width: 100%;
        @include box;
        overflow: hidden;
        .caption{
            font-size: 40px;
        }
        .slide{
            height: 570px;
            padding: 39px 85px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            position: relative;
            > .wrapper{
                position: relative;
                z-index: 2;
            }
            .caption{
                text-align: right;
                max-width: 515px;
                margin-bottom: 88px;
            }
            &:before{
                @include before;
                opacity: .25;
                background-image: linear-gradient(65deg, #347df1, #3abeef);
            }
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
                li{
                    text-align: right;
                    margin-bottom: 4px;
                    &:nth-child(1){
                        opacity: .85;
                    }
                    &:nth-child(2){
                        opacity: .65;
                    }
                    &:nth-child(3){
                        opacity: .55;
                    }
                    &:nth-child(4){
                        opacity: .45;
                    }
                    &:nth-child(5){
                        opacity: .3;
                    }
                    &:nth-child(6){
                        opacity: .15;
                        margin-bottom: 0;
                    }
                    a{
                        font-size: 22px;
                    }
                }
            }
            .btn-look{
                position: absolute;
                top: 54px;
                right: 85px;
                width: 166px;
            }
        }
        .slick-dots{
            z-index: 1;
            position: absolute;
            left: 35%;
            bottom: 34px;
            width: 30%;
            padding: 0 15px;
            list-style-type: none;
            display: flex;
            justify-content: center;
            margin-bottom: 0;
            li{
                button{
                    background-color: #fff;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    width: 10px;
                    height: 10px;
                    color: transparent;
                    opacity: 0.6;
                    padding: 0;
                    font-size: 0;
                    margin: 0 6.5px;
                }
                &.slick-active{
                    button{
                        opacity: 1;
                    }
                }
            }
            
        }
    }
    .stationery, .certificates{
        position: relative;
        height: 270px;
        width: 100%;
        @include box;
        overflow: hidden;
        padding: 17px 52px;
        > .wrapper{
            position: relative;
            z-index: 1;
        }
        &:before{
            @include before;
            opacity: .75;
        }
    }
    .stationery{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        &:before{
            background-image: linear-gradient(65deg, #347df1, #3abeef);
        }
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                text-align: right;
                &:nth-child(1){
                    opacity: .7;
                }
                &:nth-child(2){
                    opacity: .5;
                }
                &:nth-child(3){
                    opacity: .25;
                }
                &:nth-child(4){
                    opacity: .15;
                }
                &:nth-child(5){
                    opacity: .08;
                }
            }
        }
    }
    .certificates{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        &:before{
            background-image: linear-gradient(244deg, #f88410, #f8b210);
        }
        > .wrapper{
            text-align: center;
            padding-top: 30px;
        }
        .caption{
            margin-bottom: 14px;
        }
    }
    .caption{
        font-size: 26px;
        font-family: $family1-bold;
        text-transform: none;
    }
}

@media(max-width:991px){
    #banner .slider-banner, #banner .stationery{
        margin-bottom: 15px;
    }
    #banner .banner__right-block{
        display: flex;
        justify-content: space-between;
        .stationery, .certificates{
            width: calc(50% - 4px);
            height: 230px;
            padding: 17px 40px;
            margin-bottom: 0;
        }
        .certificates .wrapper{
            padding-top: 16px;
        }
    }
    #banner .features{
        margin-top: 10px;
    }
    #banner .slider-banner .slide .caption{
        margin-bottom: 40px;
    }
    #banner .slider-banner .slide ul li a{
        font-size: 18px;
    }
    #banner .slider-banner .slick-dots{
        bottom: 20px;
    }
}

@media(max-width:600px){
    #banner{
        .caption{
            font-size: 20px;
        }
        .banner__right-block{
            flex-direction: column;
            .stationery, .certificates{
                width: 100%;
                height: 220px;
                padding: 17px 25px;
            }
        }
        .stationery{
            .caption{
                margin-bottom: 15px;
            }
        }
        .certificates{
            margin-top: 10px;
        }
        .slider-banner .slide{
            padding: 45px;
            .caption{
                margin-bottom: 30px;
            }
            .btn-look{
                right: 45px;
            }
        }
    } 
}
@media(max-width:480px){
    #banner{
        .slider-banner{
            height: 242px;
            .slide{
                padding: 25px 25px 18px;
                height: 242px;
                .caption{
                    font-size: 22px;
                    margin-bottom: 10px;
                    max-width: 290px;
                }
                ul li{
                    margin-bottom: 0;
                    height: 16px;
                    a{
                        font-size: 10px;
                    }
                }
                .btn-look{
                    top: 25px;
                    right: 25px;
                    width: 107px;
                    height: 28px;
                    padding: 2px 10px;
                    font-size: 14px;
                    font-family: $family1;
                    border: 1px solid #fff;
                }
            }
            .slick-dots{
                bottom: 15px;
            }
        }
        .banner__right-block{
            display: none;
        }
        .features{
            display: none;
        }
    }
}