.features{
    .features__item{
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        padding: 15px;
        p{
            margin: 0;
            padding: 0 10px;
            font-size: 14px;
        }
    }
    .title-features{
        color: #737373;
        font-family: $family1-bold;
    }
    .description-features{
        color: #c8c8c8;
        font-size: 14px;
        font-family: 'Geometria';
    }
    img{
        width: auto;
        height: 41px;
    }
}

@media(max-width:1700px){
    .features{
        .title-features{
            font-size: 14px;
        }
    }
}
@media(max-width:1440px){
    .features{
        margin-left: -5px;
        margin-right: -5px;
        & > div{
            padding-left: 5px;
            padding-right: 5px;
            /*&:nth-child(n+3){
                margin-top: 10px;
            }*/
        }
        
        .features__item{
            height: 100px;
        }
    }
}
@media(max-width:1200px){
    .features .features__item{
        margin-bottom: 10px;
    }
}
@media(max-width:575px){
    .features{
        & > div{
            margin-top: 10px;
        }
    }
}