footer{
    background-color: #4b5a72;
    .container{


    }
    .copyright{
        border-top: 1px solid #efefef;
        text-align: center;
        padding: 31px 15px;
        p{
            font-size: 14px;
            margin: 0;
        }
    }
    p, a{
        color: #B7BDC6;
    }
}
.footer__menu{
    padding: 96px 0;
    .footer__col{
        width: 16.66666667%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.footer__logo{
    img{
       object-fit: contain;
       height: 57px;
       width: auto; 
    }
}
.footer__description{
    font-size: 14px;
    max-width: 225px;
}
.footer__caption{
    font-family: $family1-bold;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 29px;
    letter-spacing: 0.5px;
}
.footer__links{
    padding: 0;
    list-style-type: none;
    li{
        margin-bottom: 19px;
        a{
            font-family: $family1;
            font-size: 16px;
        }
    }
}
.footer__pay-cards{
    max-width: 290px;
}
.footer__pay-card{
    width: 45px;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media(min-width:1301px) and (max-width: 1700px){
    /*.footer__description{
        width: auto;
    }*/
    .footer__menu .footer__col:first-child{
        width: 20%;
    }
    .footer__menu .footer__col{
        width: 16%;
    }
}
@media(max-width: 1300px){
    .footer__description{
        width: auto;
    }
    .footer__links{
        li{
            margin-bottom: 12px;
        }
    }
}
@media(min-width:1201px) and (max-width: 1300px){
    .footer__menu .footer__col:first-child{
        width: 22%;
    }
    .footer__menu .footer__col{
        width: 15.6%;
    }
}
@media(min-width: 769px) and (max-width: 1200px){
    .footer__menu .footer__col:first-child, .footer__menu .footer__col{
        width: 33.333333333%;
    }
    .footer__menu .footer__col:nth-child(n+4){
        margin-top: 30px;
    }
}
@media(min-width:481px) and (max-width:768px){
    .footer__menu{
        padding: 55px 0;
    }
    .footer__menu .footer__col:first-child, .footer__menu .footer__col{
        width: 50%;
    }
    .footer__menu .footer__col:nth-child(n+3){
        margin-top: 30px;
    }
}
@media(max-width:480px){
    .footer__menu{
        padding: 40px 0 0;
    }
    .footer__menu .footer__col:first-child, .footer__menu .footer__col{
        width: 50%;
    }
    .footer__menu .footer__col:first-child{
        display: none;
    }
    .footer__menu .footer__col:last-child{
        width: 220px;
    }
    .footer__menu .footer__col:nth-child(n+2){
        margin-top: 0;
        margin-bottom: 45px;
    }
    .footer__pay-cards{
        max-width: 100%;
    }
    .footer__pay-card{
        margin-right: 7px;
    }
    .footer__pay-card:nth-child(3n){
        margin-right: 0;
    }
    .footer__caption{
        margin-bottom: 15px;
        font-size: 14px;
    }
    .footer__links li{
        margin-bottom: 10px;
    }
    .footer__links li a{
        font-size: 14px;
    }
    .footer__menu .footer__col{
        padding-left: 25px;
        padding-right: 25px;
    }
    .copyright__additionally-text{
        display: none;
    }
    footer .copyright{
        padding: 19px 15px;
    }
}