header{
    padding-top:18px;
    padding-bottom: 18px;
    .container{
        position: relative;
    }
}
.header__col-side{
    width: 290px;
    padding-left: 15px;
    padding-right: 15px;
}
.header__col-center{
    width: calc(100% - 580px);
    padding-left: 15px;
    padding-right: 15px;
}
.header-menu{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 8px 0;
    .form-control{
        width: 260px;
        height: 56px;
        padding-left: 53px;
        padding-right: 55.5px;
        font-size: 18px;
        font-family: $family1-bold;
        color: #434343;
        position: relative;
        z-index: 9;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        &:focus{
            box-shadow: none;
            border-color: #ced4da;
        }
    }
}
.main-menu{
  width: calc(100% - 260px - 128px - 30px);
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 64px;
    li{
        margin-left: 39px;
        a{
            color: #5a5a5a;
            text-decoration: none;
            &:hover{
                color: #007bff;
            }
        }
    }
}
.site-lang{
  width: 128px;
  height: 56px;
  border-radius: 6px;
  border: solid 1px #d9d9d9;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-right: 30px;
    li{
        font-family: $family1-bold;
        color: #aaaaaa;
        line-height: 3.3;
        width: calc(100% /2);
        text-align: center;
        &.active{
            color: #347df1;
        }
    }
}
.header__select-group{
    position: relative;
    .select-left-i, .select-right-i{
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .select-left-i{
        left: 0;
        width: 53px;
        color: #347df1;
        i{
            transform: scale(-1, 1);
        }
        img{
            width: 17px;
            height: 17px;
        }
    }
    .select-right-i{
        right: 0;
        width: 55.5px;
        color: #b1b1b1;
        border-left: solid 1px #d9d9d9;
    }
}
.header-logo{
    height: 72px;
    margin-bottom: 13px;
    img{
        padding: 5px;
        object-fit: contain;
    }
}
.header-singin{
    padding: 8px 0;
    margin-bottom: 13px;
    .btn-blue{
        width: 100%;
        font-size: 14px;
    }
}
.header-dropdown-catalog{
    .btn-blue{
        position: relative;
        z-index: 9999;
        width: 100%;
        font-family: $family1-bold;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 9%;
        i{
            margin-right: 4px;
        }
    }
}
.header-search{
    width: 100%;
    margin-top: 21px;
    form{
        input, .btn-search{
            height: 54px;
        }
        .btn-search{
            border-radius:4px 0 0 4px;
        }
    }
}
.header__icons-wrapper{
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    .bookmarks, .cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        .img-icon{
            position: relative;
            height: 25.3px;
            img{
                width: auto;
            }
        }
        .count{
            background-color: #347df1;
            color: #fff;
            font-size: 12px;
            font-family: $family1;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            border: solid 2px #ffffff;
            text-align: center;
            padding-top: 2px;
            position: absolute;
            top: -9px;
            right: -16px;
        }
        .text{
            color: #707070;
            font-size: 15px;
            font-family: $family1-bold;
        }
    }
}
$modal-menu-top-indent: 12px;
#modal-menu-catalog{
    display: none;
    position: absolute;
    top: 130px;
    z-index: 999;
    width: 100%;
    margin-left: -15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    .menu-catalog{
        width: 260px;
        background-color: #fff;
        list-style-type: none;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 0 0 8px 8px;
        margin: 0;
        padding-left: 0;
        padding-top: $modal-menu-top-indent;
        li{
            height: 50px;
            padding: 0 27px;
            &:hover{
                background-color: #f2f8ff;
                a{
                    color: #347df1;
                    text-decoration: none;
                }
            }
        }
        a{
            color: #5b5b5b;
            font-family: $family1;
            font-size: 16px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .count{
            width: 24px;
            height: 24px;
            background-color: #e6155c;
            font-size: 12px;
            color: #fff;
            border-radius: 50%;
            text-align: center;
            line-height: 2;
            font-family: $family1;
        }
    }
    .menu-catalog__subcategory{
        padding: 20px 0 0 20px;
        border-radius: 8px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        width: calc(100% - 270px);
        margin-top: $modal-menu-top-indent;
        display: flex;
        flex-wrap: wrap;
        .item{
            height: 166px;
            width: calc(100% / 7 - 20px);
            border-radius: 8px;
            border: solid 1px #fff;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            margin-right: 20px;
            cursor: pointer;
            padding: 10px;
            img{
                width: 44px;
                height: 71px;
                border-radius: 3px;
            }
            p{
                font-size: 14px;
                font-family: $family1-bold;
                text-align: center;
                margin-top: 9px;
                margin-bottom: 0;
            }
            &:hover{
                background-color: #f6faff;
                color: #347df1;
            }
            &.stock{
                border-color: #e6155c;
                color: #e6155c;
            }
        }
    }
}

/*Header mobile*/
#header-mobile{
    display: none;
    .container{
        z-index: 3;
        position: relative;
        background-color: #fff;
    }
    .logo{
        height: 48px;
        img{
            object-fit: contain;
            max-width: 170px;
            padding-left: 8px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
    .header__icons-wrapper{
        height: 100%;
        width: 140px;
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-right: 5px;
    }
    .header__icons-wrapper .bookmarks .img-icon, .header__icons-wrapper .cart .img-icon{
        height: 22px;
    }
    .header__icons-wrapper > *{
        margin: -4px 0 0 0;
    }
    .btn-toggle-menu{
        .burger-icon, .close-icon{
            width: 18px;
            height: 18px;
        }
        .burger-icon{
            background: url(../img/menu-button.svg) no-repeat;
        }
        .close-icon{
            background: url(../img/cancel.svg) no-repeat;
        }
        &#btn-toogle-menu-mobile{
            background-color: #fff;
            border: 1px solid #347df1;
        }
    }
}
#search-mobile-block{
    width: 100%;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    transition: .4s;
}
#search-mobile-block.show-serch-block{
    opacity: 1;
    top: 60px;
    z-index: 2;
}
.search-mobile__form{
    position: relative;
    input{
        padding-right: 40px;
    }
    .btn-search{
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;
        background-color: transparent;
        border: none;
        padding: 9px;
    }
}
.search-mobile__form .btn-search img{
    width: 20px;
    height: 21px;
}
#sidebar-mobile{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    .top{
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
    }
    .scroll-content{
        overflow-y: scroll;
        height: calc(100% - 68px);
        border-top: 2px solid #e1e1e1;
    }
    .btn-catalog{
        padding: 20px 15px;
        margin-bottom: 0;
        border-bottom: 2px solid #e1e1e1;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        position: relative;
        z-index: 1;
        background-color: #fff;
        font-size: 15px;
        img{
            width: 24px;
            height: 20px;
            margin-right: 18px;
            object-fit: contain;
        }
        span{
            font-family: OpenSans-Bold;
            font-size: 15px;
            color: #212121;
        }
        .list-arrow-right{
            position: absolute;
            right: 0;
            height: 11px;
            width: 11px;
            object-fit: contain;
            transition: .4s;
            &.list-arrow-bottom{
                transform: rotate(90deg);
                transition: .4s;
            }
        }
    }
    .bottom{
        margin-bottom: 20px;
    }
    .btn-enter-account{
        display: block;
        width: calc(100% - 44px - 18px);
        height: 48px;
        background-color: #347df1;
        color: white;
        margin: 0;
        font-size: 13px;
        font-family: OpenSans;
        text-align: center;
        border: 1px solid #347df1;
        border-radius: 4px;
        cursor: pointer;
        padding: 0 15px;
    }
    .list{
        padding: 10px 15px;
        list-style-type: none;
        margin-bottom: 0;
        border-bottom: 2px solid #e1e1e1;
        .item{
            display: flex;
            align-items: center;
            color: #828282;
            padding: 10px 0;
            font-size: 14px;
            font-family: OpenSans;
            img{
                width: 20px;
                height: 18px;
                margin-right: 18px;
                object-fit: contain;
            }
        }
        .site-lang{
            margin: 0;
            height: 36px;
            width: 82px;
            margin-left: 34px;
            li{
                font-size: 10px;
                &.active{
                    color: #fff;
                    background-color: #347df1;
                    border-radius: 6px;
                }
            }
        }
        .p-list{
            padding-left: 40px;
            font-family: $family1-bold;
            font-size: 15px;
            color: #3e3e3e;
        }
        &.lang{
            .item{
                padding: 0;
            }
        }
        &.phones{
            padding-bottom: 20px;
            .item:nth-child(n+2){
                padding: 0;
            }
        }
    }
}
.menu-content{
    width: 300px;
    background-color: #fff;
    height: 100%;
}
#catalog-mobile{
    display: none;
    &.list{
        padding: 0;
        .item{
            padding: 20px 25px !important;
            position: relative;
            &.red-link{
                color: #f13468;
            }
            img{
                position: absolute;
                right: 0;
                height: 11px;
                width: 11px;
                object-fit: contain;
            }
        }
        li{
            border-bottom: 1px solid #e1e1e1;
            &:last-child{
                border-bottom: none;
            }
        }
    }
}
@media (max-width: 768px) {
    #header-desktop{
        display: none;
    }
    #header-mobile{
        display: block;
    }
}
@media (max-width: 400px) {
#header-mobile{
    .header__icons-wrapper{
        width: 120px;
    }
}
}
@media(max-width:375px){
    #header-mobile .logo{
        height: 40px;
    }
    #header-mobile .logo img{
        width: 140px;
        padding-left: 2px;
    }
}

@media(max-width:1700px){
    .main-menu{
        padding-right: 15px;
        li{
            margin-left: 20px;
        }
    }
    .site-lang{
        width: 100px;
        margin-right: 2%;
    }
}
@media(max-width:1600px){
    #modal-menu-catalog .menu-catalog__subcategory .item{
        width: calc(100% / 6 - 15px);
        margin-right: 15px;
        margin-bottom: 15px;
    }
}
@media(max-width:1440px){
    .header-menu .form-control{
        width: 200px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 16px;
    }
    .header__select-group .select-left-i, .header__select-group .select-right-i{
        width: 40px;
    }
    .header__col-side{
        width: 200px;
    }
    .header__col-center{
        width: calc(100% - 400px);
        padding-left: 0px;
        padding-right: 0px;
    }
    .header-dropdown-catalog .btn-blue{
        font-size: 14px;
        padding: 0 10px;
    }
    #modal-menu-catalog .menu-catalog{
        width: 170px;
    }
    #modal-menu-catalog .menu-catalog__subcategory{
        margin-top: 20px;
        width: calc(100% - 185px);
    }
}
@media(max-width:1200px){
    #modal-menu-catalog .menu-catalog__subcategory .item{
        width: calc(100% / 5 - 15px);
    }
    .header__col-side{
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-menu{
        width: calc(100% - 100px);
    }
    .header__select-group{
        margin-top: 21px;
        margin-right: 15px;
    }
    .header-search{
        width: calc(100% - 215px);
    }
    .header__icons-wrapper .bookmarks .text, .header__icons-wrapper .cart .text{
        font-size: 14px;
    }
    .site-lang{
        margin-right: 0;
    }
    /*.header__col-side{
        &:first-child{
            order: 0;
            display: flex;
        }
    }*/
}

@media(max-width:991px){
    #modal-menu-catalog{
        top: 135px;
        border-radius: 8px;
        > div{
            flex-direction: column;
        }
        .menu-catalog{
            padding-top: 0;
            li{
                height: 35px;
            }
        }
        .menu-catalog__subcategory{
            margin-top: 10px;
            width: 100%;
        }
    }
    #modal-menu-catalog .menu-catalog li{
        padding: 0 10px;
        a{
            font-size: 13px;
        }
    }
    .header__col-side{
        &:first-child{
            order: 0;
            /*display: flex;*/
            width: 55%;
            /*justify-content: space-between;*/
        }
        &:last-child{
            order: 1;
            display: flex;
            justify-content: space-between;
            width: 45%;
            flex-direction: column-reverse;
        }
    }
    .header__col-center{
        order: 2;
        width: 100%;
    }
    .header-logo{
        margin-bottom: 0;
    }
    .header-singin{
        margin-bottom: 0;
        padding: 0;
    }
    .header__col-center{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-singin .btn-blue{
        font-family: $family1-bold;
    }
    .main-menu{
        justify-content: space-between;
        padding-right: 30px;
        width: calc(100% - 124px);
    }
    .header-dropdown-catalog .btn-blue{
        justify-content: center;
    }
    .site-lang{
        width: 124px;
    }
    .main-menu li{
        margin: 0 4px;
    }
}
@media(max-width:768px){
    #modal-menu-catalog .menu-catalog__subcategory{
        .item{
            width: calc(100% / 4 - 10px);
            margin-bottom: 10px;
            margin-right: 10px;
            p{
                font-size: 13px;
            }
        }
    }
}
@media(max-width:600px){
    .header__icons-wrapper .bookmarks .text, .header__icons-wrapper .cart .text{
        font-size: 12px;
    }
}
@media(min-width:481px) and (max-width:600px){
    .header-menu{
        justify-content: space-between;
    }
    .main-menu{
        width: 100%;
        padding-right: 0;
        margin-top: 15px;
    }
    .header-search{
        width: 100%;
        margin-top: 15px;
    }
    .header__select-group, .site-lang{
        margin-right: 0;
        margin-top: 15px
    }
    .site-lang{
        width: 35%;
    }
    .header__select-group{
        width: 60%;
    }
    .header-menu .form-control{
        width: 100%;
    }
}

@media(max-width:480px){
    header{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header__col-side{
        margin-bottom: 10px;
        &:first-child, &:last-child{
            width: 100%;
        }
    }
    .main-menu, .header-search{
        width: 100%;
    }
    .main-menu{
        padding-right: 0;
    }
    .site-lang{
        margin-top: 21px;
        margin-right: 10px;
    }
    .header__select-group{
        margin-right: 0;
    }
    .header-dropdown-catalog .btn-blue{
        font-size: 16px;
    }
    #modal-menu-catalog .menu-catalog__subcategory .item{
        width: calc(100% / 3 - 5px);
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

@media(max-width:375px){
    .site-lang{
        width: 80px;
    }
    .main-menu li{
        font-size: 14px;
    }
}

@media(max-width:325px){

}
