.pagination{
    margin: 15px 0;
}
.page-link{
  border-radius: 4px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  color: #373737;
  font-family: $family1-bold;
  width: 54px;
  height: 54px;
  font-size: 18px;
  text-align: center;
  line-height: 2;
  border: 0;
}
.three-point{
    .page-link{
      background-color: transparent;
      box-shadow: none;
      border-color: transparent;
    }
}
@media(max-width:768px){
    .page-link{
        width: 40px;
        height: 40px;
        line-height: 1.5;
    }
}