.product-sec{
    display: flex;
    justify-content: space-between;
}
.product-sec__left{
    width: calc(100% - 405px - 30px);
}
.product-sec__right{
    width: 405px;
    position: relative;
}

.card-buy-product{
    @include box;
    .head-card{
        border-bottom: solid 2px #d9d9d9;
        padding-top: 15px;
        padding-bottom: 15px;
        p{
            margin: 0;
        }
    }
    .body-card{
        padding: 23px 25px;
    }
}
.buy-product{
    text-align: center;
    padding: 0 31px;
    .price{
        font-size: 32px;
        color: #212121;
        margin-bottom: 4px;
    }
    .old-price-wrapper{
        margin-bottom: 25px;
        font-size: 20px;
        .old-price{
            font-size: 20px;
        }
        .discount{
            font-size: 14px;
        }
    }
}
.add-to-cart-wrapper{
    display: flex;
    justify-content: space-between;
    .btn-add-to-cart{
        background-color: #e6155c;
        width: calc(100% - 66px);
        height: 50px;
        color: #fff;
        box-shadow: 0 3px 6px 0 rgba(230, 21, 92, 0.16);
        border-radius: 30px;
        border: 1px solid #e6155c;
        img{
            height: 20px;
            width: auto;
            margin-top: -6px;
            margin-right: 14px;
        }
    }
    .btn-add-to-bookmarks{
        width: 52px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0 3px 6px 0 rgba(52, 125, 241, 0.16);
        background-color: #347df1;
        border: 1px solid #347df1;
        color: #fff;
        padding-top:5px;
        i{
            font-size: 20px;
        }
    }
}
.buy-one-click{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 3px 6px 0 rgba(52, 125, 241, 0.16);
    background-color: #347df1;
    border: 1px solid #347df1;
    color: #fff;
    font-family: $family1-bold;
    font-size: 16px;
    margin-bottom: 42px;
}
.delivary-product{
    border-top: 1px solid #d9d9d9;
    .caption{
        font-family: $family1-bold;
        color: #303030;
        margin-top: 22px;
        margin-bottom: 9px;
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: #8d8d8d;
        li{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            span{
                display: block;
                &:last-child{
                    width: 87px;
                }
            }
        }
    }
    p{
        margin-bottom: 0;
        font-size: 14px;
    }
}
.card-info-product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 648px;
    margin-bottom: 30px;
    .images-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .images{
        width: 115px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 30px;
        img{
            @include box;
            height: 182px;
        }
    }
    .image{
        width: 405px;
        @include box;
        overflow: hidden;
        position: relative;
        .bondage{
            top: 30px;
            left: 0;
            right: auto;
            div{
                justify-content: flex-start;
                margin-bottom: 9px;
            }
        }
        .bondage .new, .bondage .hit, .bondage .bestseller, .bondage .stock{
            border-radius: 0 20px 20px 0;
            padding: 10px 26px;
        }
    }
    .info{
        width: calc(100% - 115px - 30px - 405px - 30px);
        @include box;
        min-height: 300px;
        padding: 40px 50px;
        .title-book{
            margin-bottom: 0;
            padding-right: 120px;
        }
        .author-name{
            padding-right: 120px;
        }
        .stars-wrapper{
            margin-top: 29px;
            margin-bottom: 40px;
            display: flex;
            .stars{
                margin-bottom: 0;
            }
        }
        .info-caption{
            position: relative;
        }
        .product-code{
            position: absolute;
            top: 0;
            right: 0;
            p{
                margin: 3px 0;
                font-size: 12px;
                line-height: 1.17;
            }
        }
    }
}

.product-tabs{
    .nav-tabs{
        @include box;
        margin-bottom: 17px;
        padding: 17px 50px;
        .nav-link, .nav-tabs .nav-item.show .nav-link{
            border-color: transparent;
            border-radius: 36px;
            color: #212121;
            font-size: 18px;
            font-family: $family1-bold;
            padding: 10px 32px;
        }
        .nav-link.active, .nav-tabs .nav-item.show .nav-link{
            background-color: #347df1;
            color: #fff;
        }
    }
    .tab-content{
        @include box;
        .tab-header{
            border-bottom: 2px solid #d9d9d9;
            padding: 26px 118px 26px 70px;
            & > *{
                margin: 0;
            }
        }
        .tab-body{
            padding: 42px 118px 67px 70px;
        }
    }
}
.specifications{
    list-style-type: none;
    padding: 0;
    margin: 0;
    &.part-of-the-content{
        overflow: hidden;
        max-height: 255px;
    }
    li{
        display: flex;
        margin-bottom: 6px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    p{
        display: flex;
        width: 50%;
        margin: 0;
        position: relative;
    }
    .title{
        font-size: 14px;
        font-family: $family1;
        color: #8d8d8d;
        display: block;
        margin-top: 2px;
        padding-right: 14.5px;
        background-color: #fff;
        position: relative;
        z-index: 1;
    }
    .line{
        width: 100%;
        height: 19px;
        border-bottom: solid 1px #e2e2e2;
        display: block;
        position: absolute;
    }
    .value{
        font-size: 14px;
        font-family: $family1;
        color: #515151;
        padding-left: 24px;
        margin-top: 2px;
        &.blue{
            color: #347df1
        }
    }
}
.comment{
    margin-bottom: 39px;
    &:last-child{
        margin-bottom: 0;
    }
    .name{
        font-size: 18px;
        font-family: $family1-bold;
        color: #212121;
        margin-bottom: 12.1px;
    }
    .text{
        max-height: 70px;
        overflow: hidden;
    }
}
.stars-wrapper.left .stars{
    justify-content: flex-start;
    color: #e6155c;
    margin-bottom: 13.5px;
    i{
      margin-left: 0;
      margin-right: 5.6px;  
    }
}
.reviews-count{
    color: #8d8d8d;
    font-size: 14px;
    font-family: $family1;
    margin-left: 14px;
    margin-top: -2px;
}

.card-buy-product.scrolling{
    margin-top: 30px;
    width: inherit;
    .head-card{
        padding: 21px 59px;
        > div{
            p{
                text-align: center;
                font-family: $family1-bold;
                color: #212121;
                cursor: pointer;
            }
            &.active{
                p{
                    color: #347df1;
                }
            }
        }
    }
    .body-card{
        #switch-buy, #switch-delivary{
            display: none;
            &.active{
                display: block;
            }
        }
        .delivary-product{
            border-top: none;
            .wrapper:first-child .caption{
                margin-top: 5px;
            }
        }
    }
}
@media(max-width:1700px){
    .product-sec__left{
        width: calc(100% - 340px - 15px);
    }
    .product-sec__right{
        width: 340px;
    }
    .card-info-product{
        .images{
            margin-right: 15px;
        }
        .image{
            width: 340px;
        }
        .info{
            width: calc(100% - 115px - 15px - 340px - 15px);
        }
    }
    .card-info-product{
        min-height: 580px;
    }
    .card-buy-product.scrolling .head-card{
        padding: 20px 35px;
    }
    .card-buy-product.scrolling .head-card > div p{
        font-size: 14px;
    }
    .card-buy-product.scrolling{
        margin-top: 20px;
    }
}
@media(max-width:1440px){
    .buy-product{
        padding: 0;
    }
    .buy-one-click{
        margin-bottom: 25px;
    }
    .card-info-product .images-wrapper{
        flex-direction: column-reverse;
    }
    .card-info-product .images{
        flex-direction: row;
        margin-right: 0;
        margin-top: 10px;
        width: 340px;
        img{
            width: 32%;
        }
    }
    .card-info-product .info{
        width: calc(100% - 340px - 15px);
    }
}
@media(max-width:1200px){
    .card-info-product{
        flex-direction: column;
        .info{
            width: 100%;
        }
        .image{
            height: 800px;
            width: 70%;
        }
        .images{
            width: calc(30% - 15px);
            flex-direction: column;
            margin-top: 0;
            img{
                height: 260px;
                width: 100%;
            }
        }
        .info{
        }
        .images-wrapper{
            flex-direction: row-reverse;
            margin-bottom: 15px;
        }
    }
    .product-sec__left{
        width: 100%;
    }
    .product-sec__right{
        width: 100%;
    }
    .card-buy-product.scrolling{
        display: none;
    }
    .product-sec{
        flex-direction: column;
    }
    .card-buy-product .body-card{
        display: flex;
        padding: 40px 25px;
    }
    .buy-one-click{
        margin-bottom: 0;
    }
    .buy-product .price{
        font-size: 28px;
    }
    .buy-product .old-price-wrapper .old-price{
        font-size: 16px;
    }
    .delivary-product .wrapper{
        .caption{
            margin-top: 10px;
        }
        &:first-child{
            .caption{
                margin-top: 0;
            }
        }
    }
    .buy-product{
        width: 50%;
        padding: 0 80px 0 40px;
    }
    .delivary-product{
        border: none;
        width: 50%;
    }
    .add-to-cart-wrapper .btn-add-to-cart{
        width: calc(100% - 52px - 15px);
    }
}
@media(max-width:900px){
    .product-sec__left, .product-sec__right{
        width: 100%;
    }
    .product-sec__left{
        margin-bottom: 15px;
    }
    .card-info-product .info{
        padding: 40px 25px;
    }
    .card-info-product, .product-tabs .nav-tabs{
        margin-bottom: 15px;
    }
    .product-tabs .nav-tabs{
        padding: 20px;
    }
    .product-tabs .tab-content .tab-header, .product-tabs .tab-content .tab-body{
        padding: 25px;
    }
    .card-info-product .info .stars-wrapper{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media(max-width:768px){
    .buy-product{
        padding: 0 30px 0 0px;
    }
}
@media(max-width:600px){
    .specifications p{
        &:first-child{
            width: 37%;
        }
        &:last-child{
            width: 63%;
        }
    }
    .specifications .title, .specifications .value{
        font-size: 13px;
    }
    .specifications .value{
        padding-left: 10px;
    }
    .specifications.part-of-the-content{
        max-height: 245px;
    }
    .card-buy-product .body-card{
        flex-direction: column;
    }
    .buy-product, .delivary-product{
        width: 100%;
    }
    .buy-product{
        margin-bottom: 20px;
        padding-right: 0;
    }
}
@media(max-width:480px){
    .product-tabs .nav-tabs .nav-link, .product-tabs .nav-tabs .nav-tabs .nav-item.show .nav-link{
        font-size: 13px;
        padding: 10px 15px;
    }
    .card-info-product .info{
        padding: 30px 25px;
        .read-all{
            margin-top: 10px;
        }
    }
    .specifications li{
        flex-direction: column;
    }
    .specifications p{
        &:first-child{
            width: 100%;
        }
        &:last-child{
            width: 100%;
        }
    }
    .card-info-product .images-wrapper{
        flex-direction: column-reverse;
    }
    .card-info-product .images{
        width: 100%;
        flex-direction: row;
        margin-bottom: 0;
    }
    .card-info-product .image{
        height: 700px;
        margin-bottom: 10px;
        width: 100%;
    }
    .card-info-product .images img{
        height: 250px;
        width: 32%;
    }
    .product-tabs .nav-tabs{
        padding: 15px;
        display: flex;
        flex-direction: column;
        a{
            text-align: center;
        }
    }
    .product-tabs .tab-content .tab-header{
        padding: 15px;
    }
    .product-tabs .tab-content .tab-body{
        padding: 15px;
        p{
            font-size: 13px;
        }
    }
    .comment{
        margin-bottom: 30px;
        .text{
            max-height: 60px;
        }
        .read-all{
            margin-top: 0;
        }
    }
    .text.part-of-the-content{
        margin-bottom: 0;
    }
}