.products{
    padding: 50px 0 20px;
}

.categories-nav{
    display: flex;
    padding: 21px 145px 6px 29px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    @include box;
    .btn-category{
        padding: 4px 28px;
        border-color: transparent;
        text-transform: lowercase;
    }
}
.categories-nav__tile{
    font-size: 16px;
    font-family: $family1-bold;
    margin: 0;
    color: #4b4b4b;
    padding-top: 5px;
}
.column-filter{
    width: 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 40px;
    top: 26px;
    i{
        font-size: 24px;
        color: #d1d1d1;
        &.active{
            color: #347df1;
        }
    }
}
.products__header{
    display: flex;
}
.list-categories-products{
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    margin: 0 0 0 29px;
    padding: 0;
    .btn-category{
        &:last-child{
            margin-right: 0;
        }
    }
}
.product-card, .product-viewed-card{
    padding-left: 15px;
    padding-right: 15px;
    .product-list__link{
        display: none;
    }
    .count-product{
        display: none;
    }
    .add-to-wishlist{
        display: none;
    }
    .stock-availability{
        display: none;
    }
    &.list{
        width: 100% !important;
        max-width: 100% !important;
        flex: none !important;
        .product-hover{
            display: none;
        }
        .product__image img{
            filter: blur(0) !important;
        }
        .bondage{
            z-index: 1;
        }
        .stock-availability{
            display: flex;
            align-items: center;
            width: 100%;
            margin: 0;
            font-size: 14px;
            i{
                color: #1592e6;
                margin-right: 3px;
                &.fa-window-close{
                    color: #e6155c;
                }
            }
        }
        .btn-add-to-cart{
            display: block;
            width: 210px;
            margin-bottom: 0;
            height: 48px;
            margin-left: 50px;
            margin-top: -6px;
            background-color: #347df1;
            color: #fff;
            border-radius: 6px;
            border:2px solid #347df1;
            outline: none;
            transition: .3s;
            &:hover{
                color: #347df1;
                background-color: #fff;
                transition: .3s;
            }
        }
        .add-to-wishlist{
            display: block;
        }
        .product{
            display: flex;
            justify-content: space-between;
            height: 400px;
            padding: 30px;
            .product__image{
                width: 250px;
                height: 100%;
                img{
                    height: 100%;
                }
            }
            .product__info{
                width: calc(100% - 250px);
                border-top: none;
                height: auto;
                padding: 5px 15px;
                .stars-wrapper{
                    display: block;
                    .stars{
                        justify-content: flex-start;
                        color: #333;
                        i:first-child{
                            margin-left: 0;
                        }
                    }
                }
            }
            .product-list__link{
                display: flex;
                padding-left: 0;
                list-style-type: none;
                margin: 8px 0;
                li{
                    margin-right: 20px;
                    a{
                        color: #afafaf;
                        text-decoration: underline;
                        &:hover{
                            color: #1592e6;
                        }
                    }
                }
            }
            .title-product{
                font-size: 24px;
            }
            .description-product{
                font-size: 16px;
                max-height: 65%;
                height: 170px;
                margin: 15px 0;
            }
            .price-wrapper{
                position: relative;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                bottom: 6px;
                width: 230px;
                .price{
                    font-size: 18px;
                    margin-right: 12px;
                }
                .old-price-wrapper{
                    display: none;
                }
            }
            .count-product{
                display: flex;
                width: 200px;
            }
        }
    }
}
.products__body{
    margin-top: 14px;
}
.viewed-products{
    .slick-prev, .slick-next{
        border: 1px solid #347df1;
        background-color: #347df1;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
        outline: none;
        position: absolute;
        top: -52px;
    }
    .slick-prev{
        right: 70px;
    }
    .slick-next{
        right: 10px;
    }
}
.sortToGrid, .sortToList{
    cursor: pointer;
}
.add-to-wishlist{
    width: 36px;
    height: 36px;
    margin-right: 10px;
    background-color: #f9f9f9;
    border: 1px solid #afafaf;
    border-radius: 2px;
    img{
        width: 74%;
        height: 74%;
        object-fit: contain;
    }
}
.products-padding{
    padding-bottom: 50px;
}
.product{
    @include box;
    margin-bottom: 30px;
    overflow: hidden;
    .product__image{
        position: relative;
        overflow: hidden;
    }
    .product-hover{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(21, 146, 230, 0.8), #a36db0);
        padding: 15px;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        transition: .5s;
    }
}
.bondage{
    position: absolute;
    top: 10px;
    right: 0;
    div{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 6px;
    }
    .new, .hit, .bestseller, .stock{
        border-radius: 20px 0 0 20px;
        color: #fff;
        padding: 6px 10px;
        text-align: justify;
        font-family: $family1;
        font-size: 14px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
    .new{
        background-color: #1592e6;
    }
    .hit{
        background-color: #e6155c;
    }
    .bestseller{
        background-color: #f5be49;
    }
    .stock{
        background-color: #6e57a5;
    }
}
.count-product{
    display: flex;
    justify-content: space-between;
    .minus, .plus{
        width: 36px;
        background-color: #f9f9f9;
        color: #636363;
        font-family: "OpenSans-Bold";
        font-size: 20px;
        cursor: pointer;
        transition: .3s;
        &:hover{
            background-color: #347df1;
            color: #fff;
            border-color: #347df1;
            transition: .3s;
        }
    }
    .minus, .plus, .value{
        height: 36px;
        border: 1px solid #afafaf;
        text-align: center;
        border-radius: 2px;
        outline: none;
    }
    .value{
        width: calc(100% - 130px);
    }
}
// Product-hover__top
.product-hover__top{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.product__vailability{
    display: flex;
    align-items: center;
    .fas{
        margin-right: 11px;
    }
    .text{
        font-family: $family1-bold;
        font-size: 14px;
    }
}
.add-to-bookmarks{
    width: 42px;
    height: 42px;
    background-color: #fff;
    color: #826daa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #fff;
    &:hover{
        background-color: #826daa;
        color: #fff;
    }
}
// Product-hover__middle
.product-hover__middle{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;
}

// Product-hover__footer
.product-hover__bottom{
    padding-bottom: 25px;
}

.product__info{
    padding: 9px 15px 0;
    height: 135px;
    position: relative;
    border-top: solid 1px #e9e9e9;
    .btn-add-to-cart{
        display: none;  
    }
    .stars-wrapper{
        display: none;
    }
}

.title-product{
    display: block;
    font-family: $family1-bold;
    color: #373737;
    margin: 0;
    font-size: 16px;
    max-height: 48px;
    overflow: hidden;
    &.blue{
        color: #1592e6;
    }
}
.description-product{
    margin: 10px 0;
    font-size: 14px;
    max-height: 44px;
    overflow: hidden;
}
.price-wrapper{
    position: absolute;
    bottom: 10px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    z-index: 1;
}
.price{
    color: #1592e6;
    font-size: 18px;
    font-family: $family1-bold;
    margin: 0;
}
.old-price-wrapper{
    padding: 4px 0;
    margin: 0;
}
.old-price{
    text-decoration: line-through;
    color: #afafaf;
    margin-right: 5px;
}
.discount{
    background-color: #6e57a5;
    color: #fff;
    border-radius: 8px;
    padding: 2px 5px;
}
.product-in-stock, .product-out-of-stock{
    font-family: $family1-bold;
    font-size: 14px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    i{
        margin-right: 13.6px;
    }
    .text{
        line-height: 1.14;
    }
}
.product-in-stock{
    &.green{
        color: #20ba62;
    }
}
.product-out-of-stock{
    color: red;
}
.mobile-prices-and-btns{
    display: none;
}
@media(max-width:1800px){
    .price{
        font-size: 16px;
    }
    .old-price-wrapper{
        padding: 2px 0;
        font-size: 14px;
    }
    .old-price{
        margin-right: 2px;
    }
    .discount{
        padding: 2px 4px;
    }
}
@media(min-width:1441px){
    .product .product__image img{
        height: 415px;
    }
}
@media(max-width:1440px){
    .product-card.list .product .product__image, .product-viewed-card.list .product .product__image{
        width: 185px;
    }
    .product-card.list .product .description-product, .product-viewed-card.list .product .description-product{
        height: 146px;
    }
    .product-card.list .product .price-wrapper, .product-viewed-card.list .product .price-wrapper{
        width: 160px;
    }
    .product-card.list .product .product__info, .product-viewed-card.list .product .product__info{
        width: calc(100% - 185px);
    }
    .product-card.list .btn-add-to-cart, .product-viewed-card.list .btn-add-to-cart{
        width: 180px;
        margin-left: 40px;
    }
    .product-card.list .product, .product-viewed-card.list .product{
        height: 380px;
    }
    .price-wrapper{
        flex-direction: column-reverse;
    }
    .products-cards, .product-viewed-card{
        margin-left: -5px;
        margin-right: -5px;
        padding-bottom: 15px;
    }
    .product-card{
        padding-left: 15px;
        padding-right: 15px;
    }
    .product__info{
        height: 150px;
    }
    .product{
        margin-bottom: 15px;    
    }
    .product-hover__bottom{
        padding-bottom: 15px;
    }
    .product .product__image img{
        height: 300px;
    }
}
@media(min-width:992px) and (max-width:1440px){
    .product .product__image img{
        height: 350px;
    }
    .product-card{
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media(max-width:991px){
    .products__header, .categories-nav{
        flex-direction: column;
    }
    .categories-nav{
        margin-left: 0;
        .btn-category{
            padding: 4px 0;
            &.active{
                padding: 4px 20px;
            }
        }
    }
    .categories-nav__tile{
        padding: 0;
        margin-bottom: 10px;
    }
    .list-categories-products{
        margin: 0;
    }
    .products-cards{
        margin-top: 60px;
    }
    .viewed-products .slick-prev, .viewed-products .slick-next{
        top: -40px;
    }
    .product-card, .product-viewed-card{
        &.list{
            width: 100% !important;
            max-width: 100% !important;
            padding: 0 5px;
        }
    }
    .price{
        font-size: 14px;
    }
    .old-price-wrapper{
        font-size: 14px;
    }
    .product-card.list .btn-add-to-cart, .product-viewed-card.list .btn-add-to-cart{
        margin-left: 20px;
        font-size: 14px;
        height: 36px;
        margin-top: 0;
        width: 140px;
        padding: 3px 8px;
        border-radius: 4px;
    }
}
@media(min-width:901px){
    .product{
        &:hover{
            .bondage{
                display: none;
            }
            .product__image{
                img{
                    filter: blur(5px);
                }
            }
            .product-hover{
                opacity: 1;
                transition: .5s;
            }
            .title-product{
                color: #1592e6;
            }
        }
    }
}
@media(max-width:900px){
    .bondage .new, .bondage .hit, .bondage .bestseller{
        font-size: 13px;
    }
    .product-hover__bottom{
        padding-bottom: 20px;
    }
    .column-filter{
        width: 60px;
        right: 20px;
        top: 20px;
    }
    .categories-nav{
        padding: 21px 20px 6px 20px;
    }
    .categories-nav__tile{
        padding-right: 80px;
    }
    .products-cards{
        margin-top: 35px;
    }
    .viewed-products .products-cards{
        margin-top: 56px;
    }
}
@media(max-width:768px){
    .product-card.list .product .description-product, .product-viewed-card.list .product .description-product{
        height: 64px;
        font-size: 14px;
    }
    .mobile-row-prices{
        flex-direction: column;
    }
    .product-card.list .btn-add-to-cart, .product-viewed-card.list .btn-add-to-cart{
        margin-left: 0;
        margin-top: 10px;
        font-size: 14px;
    }
    .product-card.list .add-to-wishlist, .product-viewed-card.list .add-to-wishlist{
        margin-right: 0;
    }
    .count-product .minus, .count-product .plus{
        font-size: 16px;
    }
}
@media(min-width:576px) and (max-width:768px){
    .product .product__image img{
        height: 260px;
    }
    .product .product-hover{
        padding: 10px;
    }
    .list .product .product-hover{
        padding: 20px;
    }
    .product-hover__middle{
        padding-top: 10px;
    }
    .product-hover__bottom{
        padding-bottom: 10px;
    }
    .btn-add-to-cart, .btn-look{
        font-size: 14px;
        padding: 7px 10px;
        width: 90%;
    }
    .btn-add-to-cart .fas{
        margin-right: 4px;
    }
    .product__vailability .fas{
        display: none;
    }
    .product__vailability .text{
        max-width: 65px;
    }
}
@media(min-width:400px) and (max-width:575px){
    .product .product__image img{
        height: 300px;
    }
}
@media(max-width:1440px){
    .discount{
        display: none;
    }
    .price-wrapper{
        flex-direction: row;
    }
    .price{
        font-size: 16px;
    }
    .old-price-wrapper{
        padding: 0;
        font-size: 16px;
    }
    .old-price{
        margin-right: 0;
    }
}
@media(max-width:575px){
    .products-slider{
        margin-left: 0;
        margin-right: 0;
        .slick-track{
            min-width: 100%;
        }
    }
    .product-card{
        padding-left: 5px;
        padding-right: 5px;
    }
    .price{
        font-size: 13px;
    }
    .old-price-wrapper{
        padding: 0;
        font-size: 13px;
    }
}
@media(max-width:480px){
    .product-card.list .product .product__image, .product-viewed-card.list .product .product__image{
        width: 160px;
    }
    .product-card.list .product .product__info, .product-viewed-card.list .product .product__info{
        width: calc(100% - 160px);
    }
    .product-card.list .product .title-product, .product-viewed-card.list .product .title-product{
        font-size: 18px;
    }
    .product-card.list .product .product-list__link, .product-viewed-card.list .product .product-list__link{
        margin: 2px 0 6px;
    }
    .product-card.list .product .description-product, .product-viewed-card.list .product .description-product{
        margin: 8px 0;
    }
    .count-product .minus, .count-product .plus{
        font-size: 16px;
        width: 30px;
    }
    .bondage .new, .bondage .hit, .bondage .bestseller, .bondage .stock{
        font-size: 12px;
        padding: 3px 10px;
    }
    
    .product__vailability .text{
        font-size: 11px;
    }
    .title-product{
        font-size: 14px;
        max-height: 42px;
    }
    .description-product{
        font-size: 12px;
        margin: 0;
        max-height: 34px;
    }
    .product__info{
        height: 120px;
    }
    .add-to-bookmarks{
        width: 28px;
        height: 28px;
        i{
            font-size: 11px;
        }
    }
    .btn-add-to-cart, .btn-look{
        width: 100%;
        height: 33px;
        padding: 4px 15px;
        font-size: 14px;
    }
    .stars-text{
        font-size: 11px;
    }
    .product .stars i{
        font-size: 12px;
    }
    .product__vailability .fas{
        display: none;
    }
    .product-hover__middle{
        padding-top: 5px;
    }
    .product-hover__bottom{
        padding-bottom: 10px;
    }
    .btn-add-to-cart .fas{
        margin-right: 4px;
    }
    .products-cards{
        padding-bottom: 0;
    }
    .product-card.list .product, .product-viewed-card.list .product{
        height: 306px;
        padding: 10px;
    }
    .product-card.list .product .description-product, .product-viewed-card.list .product .description-product{
        max-height: 55%;
    }
    .products{
        padding: 20px 0 0;
    }
    h2{
        margin-bottom: 18px;
    }
    .product .product__image img{
        height: 255px;
    }
    .viewed-products .products-cards, .viewed-products h2{
        display: none;
    }
    .product-hover__top, .product-hover__middle, .product-hover__bottom{
        display: none;
    }
    .show-flex .product-hover__top,
    .show-flex .product-hover__middle{
        display: flex;
    }
    .show-flex .product-hover__bottom{
        display: block;
    }
    .btn-category{
        font-size: 14px;
    }
    .product-card.list .product .count-product, .product-viewed-card.list .product .count-product{
        width: 160px;
    }
    .count-product .value{
        width: calc(100% - 110px);
    }
}
@media(max-width:400px){
    .subscribe__form input, .header-search input{
        width: 56%;
    }
    .product .product-hover{
        padding: 10px;
    }
    .product__vailability .text{
        max-width: 65px;
        font-size: 13px;
    }
    .product-card.list .product .product__image{
        width: 50%;
    }
    .product-card.list .product .product__info{
        width: 50%;
        padding: 15px;
    }
    .product-card.list .product .price-wrapper{
        height: 200px !important;
    }
}
@media(max-width:380px){
    .product-card.list .product, .product-viewed-card.list .product{
        height: 250px;
        margin-bottom: 15px;
    }
}