.shop{
    .container{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
}
.shop-filter{
    padding-top: 29px;
    & > .wrapper{
        width: 100%;
        @include box;
    }
    #filter-block{
        width: 260px;
    }
    .head{
        padding: 19px 25px;
        border-bottom: 2px solid #efefef;
        text-align: center;
        & > p{
            &:first-child{
                margin-bottom: 3px;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        .count-product-page{
            font-size: 14px;
            color: #b2b2b2;
        }
    }
    .body{
        padding: 0 25px;
        .caption{
            color: #4b4b4b;
            font-size: 16px;
            font-family: $family1-bold;
            text-decoration: none;
            display: block;
            i{
                width: 20px;
                margin-right: 12px;
                text-align: center;
            }
            &.opened{
                i{
                    transform: rotate(180deg);
                }
            }
        }
        .custom-control{
            padding-left: 26px;
            margin-top: 12px;
            /*margin-bottom: 10px;*/
            &:last-child{
                margin-bottom: 0;
            }
            input{
                height: 0;
            }
        }
        .custom-control-label{
            padding-left: 12px;
            font-size: 14px;
            &:before, &:after{
                top: 0;
            }
            &:hover{
                color: #007bff;
            }
        }
        .collaps-block{
            padding-top: 22px;
            padding-bottom: 22px;
            border-bottom: 2px solid #efefef;
            &:last-child{
                border-bottom: none;
            }
            .part-of-the-content{
                max-height: 216px;
                overflow: hidden;
            }
        }
        .read-all{
            margin-top: 15px;
        }
    }
}
.shop-wrapper{
    width: calc(100% - 260px - 30px);
}
#collapse3{
    .flex-between{
        margin-top: 12px;
    }
    input{
        height: 31px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.btn-filter{
    display: none;
}
@media(min-width:1700px){
    .shop-wrapper{
        .product-card{
            width: calc(100% / 5);
            flex: none;
            max-width: none;
        }
    }
}
@media(max-width:1440px){
    .shop-filter{
        width: 210px;
        .head{
            padding: 15px;
        }
    }
    .shop-wrapper{
        width: calc(100% - 210px - 20px);
    } 
    .shop-filter .body{
        padding: 0 15px;
        .caption{
            font-size: 14px;
        }
    } 
}
@media(max-width:991px){
    .btn-filter{
        width: 40px;
        height: 40px;
        background-color: #347df1;
        border-radius: 8px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-bottom: 10px;
    }
    .shop-filter{
        position: absolute;
        z-index: 9;
        top: 15px;
        right: 15px;
        .wrapper{
            display: none;
        }
    }
    .shop-wrapper{
        width: 100%;
    }
}