.stars-text{
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-bottom: 5px;
}
.stars-wrapper{
    .stars{
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
        color: #fff;
        i{
            margin: 0 3.3px;
        }
    }
    /*.stars li{
        position: relative;
        background: url(../image/rankstar-0.png) no-repeat;
        width: 25px;
        height: 20px;
        margin-right: 1px;   
    }
    .stars li.selected:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        background: url(../image/rankstar-1.png) no-repeat;
    }*/
}
@media(max-width:400px){
    .stars-wrapper .stars{
        i{
            margin: 0 3px;
        }
    }
}
