.subscribe{
    background-color: #fff;
    padding: 61px 0;
    .col{
        
    }
    .h2{
        margin-bottom: 13px;
    }
    p{
        margin-top: 0;
    }
}
.subscribe__text{
    p:last-of-type{
        margin-bottom: 0;
    }
}
.subscribe__form, .header-search{
    display: flex;
    align-items: center;
    form{
        display: flex;
        border-radius: 4px;
        border: 1px solid #bfbfbf;
        width: 100%;
        overflow: hidden;
        height: 56px;
    }
    input{
        border: 0px;
        border-radius: 4px 0 0 4px;
        color: $color1;
        font-family: $family1;
        height: 56px;
        padding-left: 33px;
    }
}
.subscribe__form{
    flex-direction: column;
    #result-valid{
        margin-top: 10px;
        width: 100%;
        font-size: 12px;
        margin-bottom: 0;
    }
}
@media(max-width:900px){
    .subscribe{
        padding: 45px 0;
    }
}
@media(max-width:768px){
    .subscribe__form{
        margin-top: 20px;
    }
    .subscribe__form input, .header-search input{
        padding-left: 15px;
    }
}
@media(max-width:480px){
    .subscribe{
        padding: 13px 0 30px;
    }
    .subscribe__text p:last-of-type{
        font-size: 13px;
    }
    .subscribe .h2{
        margin-bottom: 7px;
    }
    .subscribe__form{
        margin-top: 35px;
    }
    .btn-subscribe{
        span{
            display: none;
        }
    }
}