//Plugins
@import "plugins/slick";         //slick slider plagin
//@import "plugins/font-awesome";
//Modules
//@import "modules/grid";          //blocks grid
/*@import "modules/adaptive-menu";*/
//@import "modules/modal";         //modal window
//@import "modules/hover-on-block";
//Basic
@import "basic/fonts";
@import "basic/var";
@import "basic/basic";
@import "basic/mixin";          //mixin styles
@import "basic/buttons";
//Section
@import "header";
@import "footer";
//Components
@import "banner";
@import "product";
@import "subscribe";
@import "features";
@import "pagination";
@import "stars";
@import "author";
@import "product-sec";
@import "shop";

/*---Styles---*/
.breadcrumb{
    padding: 29px 0;
    margin-bottom: 0;
}
.read-all{
    font-size: 14px;
    color: #347df1;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor:pointer;
    margin-top: 20px;
    display: block;
}
.more-text{
    max-height: none !important;
    overflow: auto !important;
}
.strong{
    font-family: $family1-bold;
    color: #212121;
}
.slick-track{
    margin: 0;
    /*width: 100% !important;*/
}
.fixed{
    position: fixed;
    top: 0;
}
.discounts-page{
    .product .product__image img{
        height: 300px;
    }
}
.send-icon{
    display: none;
}
@media(max-width:480px){
    .send-icon{
        display: block;
        width: 25px;
        height: 20px;
        object-fit: contain;
    }
    .btn-subscribe{
        width: 56px;
        display: flex;
        justify-content: center;
        position: absolute;
        right: 15px;
    }
    .subscribe__form input, .header-search input{
        padding-right: 50px;
    }
}
@media(max-width:400px){
    .read-all{
        margin-top: 15px;
    }
}

/*---end styles---*/

//Media
@import "media";
