@import "basic/mixin";

*{
    box-sizing: border-box;
    outline: none;
}

HTML, body{
    margin: 0;
}

//Captions
h1, h2, h3, h4, .h1, .h2, .h3, .h4{
    font-family: $family1-extrabold
}
h2, .h2{
    font-size:28px; 
    color: #212121;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 28px;
}
h2{
    text-transform: uppercase;
}

p{
    font-size: 16px;
    font-family: $family1;
    color: #8b8b8b;
}

//Links-----------------------------------
//need to customize
/*a{
    color: #000;
    text-decoration: none;
    &:hover{
        color: #000;
    }
}*/

//Img-------------------------------------
//do not need to customize
img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-block{
    @include flex(center, center);
    padding: 5px;
}

//Form------------------------------------
//need to customize
input, textarea{
    font: 16px $family1;
    color: #000;
    border: 1px solid #d5d5d5;
    padding: 5px 15px;
    width: 100%;
}
input{
    height: 44px;
}
textarea{
    height: 180px;
}
::placeholder{
    color: #d5d5d5;
}
label{
    font: 16px Arial;
    color: #000;
    cursor: pointer;
}
.input-field{
    label{
        width: 100%;
        padding: 10px 15px;
        display: block;
    }
}
//end form
.bg-grey{
    background-color: #efefef;
}
.bg-white{
    background-color: #fff;
}
.flex{
    display: flex;
    &-between{
        display: flex;
        justify-content: space-between;
        &-center{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
.sec-padding{
    padding: 50px 0 70px 0;
}
.grey-text{
    color: $color1;
}
.show{
    display: block !important;
}
.show-flex{
    /*display: flex !important;*/
    opacity: 1 !important;
    transition: .5s !important;
}
.hide{
    display: none !important;
}
@media(min-width:326px) and (max-width:480px){
    h2, .h2{
        font-size: 22px;
    }
    .sec-padding{
        padding: 50px 0;
    }
}
@media(max-width:325px){
    h2, .h2{
        font-size: 20px;
    }
    .sec-padding{
        padding: 40px 0;
    }
}