.btn{
   // [width] [height] [margin] [bg-color] [text-color] [text-family] [text-size] [border-size] [border-radius]
   /*&-cart{
     @include btn(170px, 44px, 0, black, white, Arial, 16px, 1px, 5px);
     &:hover{
       // [bg-color] [text-color] [border-color] [border-radius]
       @include btn-h(#fff, #000, #000, 0);
     }
   }*/
   &-subscribe, &-search, &-blue{
     @include btn(170px, 54px, 0, #347df1, white, OpenSans, 16px, 1px, 4px);
     padding: 0 15px;
     &:hover{
       // [bg-color] [text-color] [border-color] [border-radius]
       /*@include btn-h(#fff, #000, #000, 0);*/
     }
   }
   &-category{
     @include btn(auto, 34px, 0, transparent, #8b8b8b, OpenSans, 16px, 1px, 36px);
     border: 1px solid #8b8b8b;
     margin-right: 15px;
     margin-bottom: 15px;
     &.active{
       color: #fff;
       border: 1px solid #347df1;
       background-color: #347df1;
     }
   }
   &-add-to-cart{
     @include btn(137px, 42px, 0, #fff, #1592e6, $family1-bold, 16px, 2px, 24px);
     border-color: #fff;
     padding: 7px 15px;
     margin-bottom: 15px;
       &:hover{
          @include btn-h(transparent, #fff, #fff, 24px);
       }
       .fas{
           margin-right: 11px;
       }
   }
   &-look{
     @include btn(137px, 42px, 0, transparent, #fff, $family1-bold, 16px, 2px, 24px);
     border-color: #fff;
     padding: 7px 15px;
       &:hover{
          @include btn-h(transparent, #fff, #fff, 24px);
       }
   }
   &-toggle-menu{
       width: 48px;
       height: 48px;
       border-radius: 4px;
       box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
       background-color: #347df1;
       color: #fff;
       display: flex;
       justify-content: center;
       align-items: center;
   }
}
@media(max-width:480px){
    .btn-category{
        margin-bottom: 10px;
        margin-right: 2%;
        width: 49%;
    }
    .btn-category:nth-child(2n){
        margin-right: 0;
    }
}
@media(max-width:400px){
    .btn{
       &-add-to-cart{
         width: 100%;
         margin-bottom: 7px;
         font-size: 14px;
       }
       &-look{
         width: 100%;
         font-size: 14px;
       }
    }
}
@media(max-width:375px){
    .btn-toggle-menu{
        width: 40px;
        height: 40px;
    }
}