@font-face{
    font-family:'OpenSans';
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
    font-family:'OpenSans-Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face{
    font-family:'OpenSans-ExtraBold';
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face{
    font-family:'Geometria';
    src: url(../fonts/Geometria.woff);
}