@mixin ul-inline-not-dots{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

//FLEX
@mixin flex($justify-content, $align-items: flex-start, $flex-direction: row, $flex-wrap: nowrap){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

//FONTS
//[font-size] [font-family] [line-height] [color]
@mixin text($text-size: 16px, $text-family: $font-f1, $text-color: #000, $line-height: normal,){
  font:$text-size $text-family;
  line-height: $line-height;
  color:$text-color;
}

//BUTTONS
       // [width] [height] [margin] [bg-color] [text-color] [text-family] [text-size] [border-size] [border-radius]
@mixin btn($btn-width: 170px, $btn-height: 44px, $btn-margin: 0, $btn-bg: #000, $btn-text-color: #fff, $btn-family: Arial, $btn-font-size: 16px, $btn-border-size: 1px, $btn-border-radius: 0){
  display: block;
  width: $btn-width;
  height: $btn-height;
  background-color: $btn-bg;
  color: $btn-text-color;
  padding: ($btn-height - $btn-font-size - $btn-border-size * 2 - 6px) / 2 15px;
  margin: $btn-margin;
  font-size: $btn-font-size;
  font-family: $btn-family;
  text-align: center;
  border: $btn-border-size solid $btn-bg;
  border-radius: $btn-border-radius;
  cursor: pointer;
  &:hover{
      text-decoration: none;
  }
}
@mixin btn-h($btnh-bg-color: #fff, $btnh-text-color: #000, $btnh-border-color: #000, $btnh-border-radius: 0){
  background-color: $btnh-bg-color;
  color: $btnh-text-color;
  border-color: $btnh-border-color;
  border-radius: $btnh-border-radius;
}

//Box shadow
@mixin box{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

//Before
@mixin before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
}