//COLOR
$color1:#8b8b8b;        //text color (grey)
$color2:#89c547;        //text color (green)
$color3:#456789;

//Fonts family
$family1:'OpenSans';        //font-family 1
$family1-bold:'OpenSans-Bold';    //font-family 1 bold
$family1-extrabold:'OpenSans-ExtraBold'; 

$family2:'Arial';
$family2-bold:'Arial';
