#menu-toggle{
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 21px;
    width: 20px;
    height: 20px;
}
#menu-toggle{
  display: none;
}
@media(max-width:768px){
    #main-menu{
      display: none;
    }
    #menu-toggle{
      display: block;
    }
    #adaptive-menu{
      display: none;
        background-color: #e8e8e8;
        position: absolute;
        width: 100%;
        z-index: 1;
        .menu{
          list-style-type: none;
          padding: 0;
          width: 100%;
        }
    }
}
